{{ define "main" }}

<div class="page__header">
  <h1 class="page__title">{{ .Title | emojify }}</h1>
  {{ with .Params.Subtitle }}
      <p class="page__subtitle" >{{ . | emojify }}</p>
  {{ end }}
</div>
{{ .Content }}

{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}

{{ range $pages.GroupByDate "2006" }}
  <section id="{{ .Key }}">
    <h2 class="list__key">{{ .Key }}</h2>
    <ul class="items__list">
        {{ range .Pages }}
        <li>
          {{ partial "list/archive.html" . }}
        </li>
        {{ end }}
    </ul>
  </section>
{{ end }}
{{ end }}