*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  background-color: papayawhip;
  color: black;
  max-width: 65ch;
  margin: 0 auto;
  padding: 1rem;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: papayawhip;
    color: black;
  }
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Variable.ttf") format("truetype");
  font-weight: 125 950;
  font-style: normal;
}
html {
  font-size: 125%;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.05em;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

ul, ol, p {
  margin-top: 1rem;
  margin-bottom: 1.25rem;
  line-height: 1.5rem;
}

a, a:visited {
  color: inherit;
}
a:hover {
  text-decoration: none;
}

li {
  margin-bottom: 1rem;
}

code {
  font-family: monospace;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header {
  border-bottom: 2px solid black;
  padding-bottom: 1rem;
}
@media (prefers-color-scheme: dark) {
  .header {
    border-bottom: 2px solid black;
  }
}
.header__logo {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.025em;
}
.header__sections {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.header a {
  text-decoration: none;
}
.header a:hover {
  text-decoration: underline;
}

.footer {
  padding-top: 1rem;
  border-top: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
@media (prefers-color-scheme: dark) {
  .footer {
    border-top: 2px solid black;
  }
}
.footer a {
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer__links {
  display: flex;
  gap: 1rem;
}

.previewlist {
  display: flex;
  justify-content: space-between;
}

#content {
  -webkit-animation: fadeInAnimation ease-in 0.5s;
          animation: fadeInAnimation ease-in 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  padding-bottom: 2rem;
}/*# sourceMappingURL=main.css.map */