@charset "UTF-8";
:root {
  --bg: hsl(270deg, 100%, 98%);
  --fg: hsl(270deg, 100%, 12%);
  --accent: hsl(330deg, 100%, 42%);
  --light: hsl(270deg, 100%, 98%);
  --dark: hsl(270deg, 100%, 9%);
  --font-sans-serif: "IBM Plex Sans", sans-serif;
  --font-serif: "Fraunces", serif;
  --font-mono: "JBMono", "Roboto Mono", monospace;
  --font-size-100: 0.625rem;
  --font-size-200: 0.75rem;
  --font-size-300: 0.875rem;
  --font-size-400: 1rem;
  --font-size-500: 1.25rem;
  --font-size-600: 1.5rem;
  --font-size-800: 2rem;
  --size-100: 0.1rem;
  --size-200: 0.2rem;
  --size-300: 0.5rem;
  --size-400: 1rem;
  --size-500: 1.25rem;
  --size-600: 1.5rem;
  --size-700: 2rem;
  --size-800: 3rem;
  --size-900: 4rem;
  --border-thin: 0.075rem;
  --border-medium: 0.1rem;
  --border-thick: 0.125rem;
}
@media print {
  :root {
    --bg: white;
    --fg: #121212;
    --light: white;
    --dark: #121212;
    --accent: Indigo;
  }
}

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/Inter-roman.var.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("/fonts/Inter-italic.var.woff2") format("woff2");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/IBMPlexSans/IBMPlexSansVar-Roman.woff2") format("woff2");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("/fonts/IBMPlexSans/IBMPlexSansVar-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Source Serif";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/SourceSerif/SourceSerif4Variable-Roman.otf.woff2") format("woff2");
}
@font-face {
  font-family: "Source Serif";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("/fonts/SourceSerif/SourceSerif4Variable-Italic.otf.woff2") format("woff2");
}
@font-face {
  font-family: "Fraunces";
  src: url("/fonts/Fraunces-Regular.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Fraunces";
  src: url("/fonts/Fraunces-Italic.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "JBMono";
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JBMono";
  src: url("/fonts/JetBrainsMono-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1.5;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

html {
  font-size: 112.5%;
  font-family: var(--font-sans-serif);
  scroll-padding-top: 1.5rem;
}
@media (min-width: 640px) {
  html {
    font-size: 125%;
  }
}
@media print {
  html {
    font-size: 80%;
  }
}

body {
  background-color: var(--bg);
  color: var(--fg);
  text-underline-offset: 0.15em;
}

::-moz-selection {
  background-color: var(--accent);
  color: var(--bg);
}

::selection {
  background-color: var(--accent);
  color: var(--bg);
}

body {
  line-height: 1.6;
}
@media (min-width: 640px) {
  body {
    line-height: 1.75;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  margin-top: 2.5em;
  margin-bottom: 0.5em;
}

h1 {
  font-family: var(--font-serif);
  font-variation-settings: "opsz" 96, "SOFT" 100, "WONK" 1;
  font-size: 2.75rem;
  font-weight: 420;
}

h2 {
  font-family: var(--font-serif);
  font-variation-settings: "opsz" 72, "SOFT" 100, "WONK" 0;
  font-size: 2rem;
  font-weight: 420;
}

h3 {
  font-family: var(--font-sans-serif);
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: -0.01em;
}

h4 {
  font-family: var(--font-sans-serif);
  font-size: 1.3rem;
  font-weight: 500;
}

h5 {
  font-family: var(--font-sans-serif);
  font-size: 1.125rem;
  font-weight: 600;
}

h6 {
  font-family: var(--font-sans-serif);
  font-size: 1rem;
  font-weight: 600;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

sup {
  font-size: var(--font-size-200);
  vertical-align: super;
}

sub {
  font-size: var(--font-size-200);
  vertical-align: sub;
}

pre {
  font-family: var(--font-mono);
}

q {
  quotes: "“" "”" "‘" "’";
}

q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}

a {
  text-decoration: underline;
}
a, a:visited {
  color: var(--fg);
  outline: none;
  transition: outline 0.1s ease-out;
}
a:hover {
  text-decoration: none;
  color: var(--accent);
}
a:focus {
  outline: 0.15em solid var(--accent);
  outline-offset: 0.125em;
  border-radius: 0.1em;
  text-decoration: none;
}

a.plain-link,
.plain-link > a {
  text-decoration: none;
}
a.plain-link:hover,
.plain-link > a:hover {
  text-decoration: underline;
}

.wrapper {
  max-width: 69ch;
  margin-inline: auto;
  padding-inline: 0.75rem;
  padding-block: 1.25rem;
}

.site__header {
  border-bottom: var(--border-medium) solid var(--fg);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  line-height: 1;
}
@media (min-width: 640px) {
  .site__header {
    display: flex;
    justify-content: space-between;
  }
}

.header__logo {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.025em;
}
@media (min-width: 640px) {
  .header__logo {
    text-align: left;
  }
}

.header__sections {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media (min-width: 640px) {
  .header__sections {
    margin-top: 0;
  }
}

.skip__nav {
  position: absolute;
  transform: translateY(-200%);
  background-color: var(--bg);
  padding: 0.1rem 0.2rem;
}
.skip__nav:focus {
  transform: translateY(350%);
}
@media (min-width: 640px) {
  .skip__nav:focus {
    transform: translateY(250%);
  }
}

.site__footer {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: var(--border-medium) solid var(--fg);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
  line-height: 1;
}/*# sourceMappingURL=main.css.map */