@use "../abstracts/colors" as c;

pre {
  border-radius: 0.25rem;
  padding: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow-x: scroll;
  font-variant-ligatures: none;
  line-height: 1.25;
}

p code,
li code,
h4 code,
kbd {
  padding: 0.05rem 0.2rem;
  border: 1px solid var(--fg);
  border-radius: 0.2rem;
}

h4 code {
  font-size: 1.2rem;
}