@use "../abstracts/colors" as c;
@use "../abstracts/mixins" as m;

.header {
  border-bottom: 2px solid c.$fg--light;
  @media (prefers-color-scheme: dark) {
    border-bottom: 2px solid c.$fg--dark;
  }
  padding-bottom: 1rem;

  &__logo {
    max-width: max-content;
    margin: 0 auto 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.025em;
  }

  &__sections {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  & a {
    @include m.plain-link;
  }
}
