@use "../abstracts/colors" as c;
@use "../abstracts/mixins" as m;

.items__list {
  @include m.plain-list;
}

.list__key {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.item__title {
  font-weight: 600;
  font-size: larger;
  line-height: 1.5;
}

.list-section__item {
  @media (min-width: 640px) {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: auto;
    grid-template-areas: 'dt details';
    column-gap: 1.25rem;
  }
}

.list-yearwise__item {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: 'dt tp' 'details details';
  column-gap: 1.25rem;

  .item__type {
    font-size: smaller;
    grid-area: tp;
    justify-self: end;
    & a {
      @include m.plain-link;
    }
  }

  @media (min-width: 640px) {
    grid-template-columns: max-content auto max-content;
    grid-template-rows: auto;
    grid-template-areas: 'dt details tp';

    .item__type {
      font-size: large;
    }
  }
}

.list-section__item,
.list-yearwise__item {
  margin-bottom: 1rem;

  .item__date {
    display: flex;
    gap: 0.25rem;
    font-size: smaller;
    grid-area: dt;
  }
  @media (min-width: 640px) {
    .item__date {
      display: block;
      justify-self: start;
      align-self: start;
      width: 4.5ch;
      padding: 0 0.2rem;
      margin-top: 0.25rem;
      border-radius: 0.25rem;
      font-size: smaller;
      border: 2px solid var(--fg);
    }
    .item__month {
      font-size: 0.8rem;
      text-align: center;
      line-height: 1;
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
    .item__day {
      font-size: 1.2rem;
      text-align: center;
      line-height: 1;
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
  }
  & .item__details {
    grid-area: details;
    justify-self: start;
  }

  & .item__summary {
    margin-top: 0;
  }
}

.list-archive__item {
  margin-bottom: 1.5rem;
  & .item__date {
    font-size: smaller;
  }

  @media (min-width: 640px) {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
    justify-content: space-between;
  }
}
