@use "../abstracts/mixins" as m;

.items__list {
  @include m.plain-list;
}

.list__key {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 1.875rem;
}

.item__title {
  font-weight: 600;
  font-size: larger;
}

.list-section__item {
  margin-top: 1rem;
  margin-bottom: 2rem;
  & .item__details {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-between;
  }

  & .item__summary {
    margin-top: 0.25rem;
  }
}

.list-yearwise__item {
  display: grid;
  grid-template-columns: max-content auto max-content;
  grid-template-rows: auto;
  grid-template-areas: 'date details';
  column-gap: 1.5rem;

  @media (max-width: 540px) {
    grid-template-columns: auto auto;
    grid-template-areas: 'date type' ' details details';
    row-gap: 1rem;
  }

  & .item__date {
    grid-area: date;
    justify-self: start;
    align-self: start;
    min-width: max-content;
    padding: 0.1rem 0.3rem;
    margin-top: 0.25rem;
    border-radius: 0.25rem;
    font-size: smaller;
    border: 2px solid black;
  }

  & .item__details {
    grid-area: details;
    justify-self: start;
  }

  & .item__summary {
    grid-area: type;
    margin-top: 0.5rem;
  }

  & .item__type {
    justify-self: end;
  }
}

.date__month {
  font-size: 1rem;
  text-align: center;
}
.date__day {
  font-size: 1.5rem;
  text-align: center;
}

.list-archive__item {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;

  & .item__details {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  & .item__date {
    font-family: monospace;
  }
}
