{{ define "main" }}
  {{ $displayStyle := .Params.Display }}
  <header class="page__header">
    <h1 class="page__title">{{ .Title | emojify }}</h1>
    {{ with .Params.Subtitle }}
        <p class="page__subtitle" >{{ . | emojify }}</p>
    {{ end }}
    {{.Content}}
  </header>
  {{ if (ne $displayStyle "none") }}
    {{ range .Pages.GroupByDate "2006" }}
    <section id="{{ .Key }}">
      <h2 class="list__key">{{ .Key }}</h2>
      <ul class="[ items__list ] [ flow ]">
        {{ range .Pages }}
        <li>
          {{ if $displayStyle }}
            {{ partial (print "list/" $displayStyle ".html") . }}
          {{ else }}
            {{ if (eq .Section "minis")}}
              {{ partial "list/minis.html" . }}
            {{ else if (eq .Section "notebooks")}}
              {{ partial "list/archive.html" . }}
            {{ else }}
              {{ partial "list/description.html" . }}
            {{ end }}
          {{ end }}
        </li>
        {{ end }}
      </ul>
    </section>
    {{ else }}
      <p>No posts in this section yet. Check back later!</p>
    {{ end }}
  {{ end  }}
{{ end }}
