{{ define "main" }}
  {{ $displayStyle := .Params.Display }}
  {{ $seriesComplete := .Params.series_complete }}
  {{ $pages := .Pages }}
  {{ if (eq $displayStyle "series") }}
    {{ $pages = $pages.Reverse }}
  {{ end }}
  <header class="[ page__header ] [ flow ]">
    <h1 class="page__title">{{ .Title | emojify }}</h1>
    {{ with .Params.Subtitle }}
        <p class="page__subtitle" >{{ . | emojify }}</p>
    {{ end }}
  </header>
  <article class="[ flow ]">
    {{.Content}}
  </article>
  {{ if (ne $displayStyle "none") }}
      <ul class="[ items__list list-{{ $displayStyle }} ] [ flow ]">
        {{ range $pageIndex, $page := $pages }}
        <li>
          {{ if $displayStyle }}
            {{ if (eq $displayStyle "series")}}
              {{ partial "list/series.html" (dict "Context" . "PageIndex" $pageIndex "ComingSoon" false) }}
            {{ else }}
              {{ partial (print "list/" $displayStyle ".html") . }}
            {{ end }}
          {{ else }}
            {{ if (eq .Section "minis")}}
              {{ partial "list/minis.html" . }}
            {{ else if (eq .Section "notebooks")}}
              {{ partial "list/archive.html" . }}
            {{ else }}
              {{ partial "list/minimal-section.html" . }}
            {{ end }}
          {{ end }}
        </li>
        {{ else }}
          <p>No posts in this section yet. Check back later!</p>
          </ul>
        {{ end }}
    {{ end }}
{{ end }}
