{{ define "main"}}
  <h1 class="page__title">{{ .Title | emojify }}</h1>
  {{ with .Params.Subtitle }}
      <h2 class="page__subtitle" >{{ . | emojify }}</h2>
  {{ end }}
  {{ with .Date }}
    <div class="page__date">
        {{ .Format "January 2, 2006" }}
    </div>
  {{ end }}
  {{ if not .Params.image.preview_only }}
    {{ partial "single/featured.html" . }}
  {{ end }}
  {{ $section := .Section}}
  {{ with .Content }}
  <div class="{{ $section }} page__content">
    {{ . }}
  </div>
  {{ end }}

  {{ $tags := .GetTerms "tags" }}
  {{ with $tags }}
    <ul class="page__tags">
      {{ range . }}
          <li><a href="{{ .Permalink }}">{{ .LinkTitle | humanize }}</a></li>
      {{ end }}
    </ul>
  {{ end}}

  <div class="page__nav">
    <div class="page__home">
      <a href="/"><- home</a>
    </div>
    <div class="page__all">
      {{ with .Section}}
        <a href="/{{ . }}">all {{ . }} -></a>
      {{ end }}
    </div>
  </div>
{{ end }}