{{ define "main"}}
  <div class="page__title">
    <h1>{{ .Title | emojify }}</h1>
  </div>
  {{ with .Params.Subtitle }}
      <h2 class="page__subtitle" >{{ . | emojify }}</h2>
  {{ end }}
  {{ with .Date }}
    <div class="page__date">
      {{ .Format "Jan 2, 2006" }}
    </div>
  {{ end }}
  {{ with .Content }}
  <div class="page__content">
    {{ . }}
  </div>
  {{ end }}


  <div class="page__nav">
    <div class="page__home">
      <a href="/"><- home</a>
    </div>
    <div class="page__all">
      {{ with .Section}}
        <a href="/{{ . }}">all {{ . }} -></a>
      {{ end }}
    </div>
  </div>
{{ end }}