{{ define "main"}}
  <div class="page__title">
    <h1>{{ .Title | emojify }}</h1>
  </div>
  {{ with .Params.Subtitle }}
      <h2 class="page__subtitle" >{{ . | emojify }}</h2>
  {{ end }}
  {{ partial "single/featured.html" . }}
  {{ with .Date }}
    <div class="page__date">
      {{ if eq (.Format "2006") (now.Format "2006")}}
        {{ .Format "January 2" }}
      {{ else }}
        {{ .Format "January 2, 2006" }}
      {{ end }}
    </div>
  {{ end }}
  {{ with .Content }}
  <div class="page__content">
    {{ . }}
  </div>
  {{ end }}

  <ul class="page__tags">
    {{ range (.GetTerms "tags") }}
        <li><a href="{{ .Permalink }}">#{{ .LinkTitle }}</a></li>
    {{ end }}
    </ul>

  <div class="page__nav">
    <div class="page__home">
      <a href="/"><- home</a>
    </div>
    <div class="page__all">
      {{ with .Section}}
        <a href="/{{ . }}">all {{ . }} -></a>
      {{ end }}
    </div>
  </div>
{{ end }}