{{ define "main"}}
  <article class="[ flow ]">
    <header class="[ page__header ] [ flow ]">
      {{ partial "single/_default/date" . }}
      {{ partial "single/_default/title" . }}
      {{ partial "single/_default/subtitle" . }}
      {{ partial "single/_default/location" . }}
    </header>
    <div class="poem__grid">
      {{ partial "single/_default/cover-image.html" . }}
      {{ partial "single/_default/page-content.html" . }}
    </div>
    {{ partial "single/_default/tags" . }}
  </article>
  {{ partial "single/_default/prevnext" . }}
{{ end }}