{{ $showCoords := (ne .HideCoords "true")}}
{{ $flip := (eq .Flip "true") }}
{{ $fen := .FEN }}
<figure class="inline-svg">
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    <svg version='1.1' xmlns="http://www.w3.org/2000/svg" width="auto" height="auto" viewBox="0 20 420 420">
        <rect width="394" height="394" fill="var(--light)" fill-opacity="0.8" x="23" y="23" rx="10px"></rect>
        <rect width="394" height="394" fill="var(--dark)" fill-opacity="0.1" x="23" y="23" rx="10px"></rect>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="392" height="392" viewBox="0 0 392 392" x="24" y="24">
<defs>
    <clipPath id="round-chessboard">
        <rect width="392" height="392" x="0" y="0" rx="9px"></rect>
    </clipPath>
</defs>
{{ partial "components/chess/squares" . }}
<g>
{{ range $yIndex, $position := (split $fen "/") }}
    {{ $data := newScratch}}
    {{ $data.Set "rank" 0 }}
    {{ range $xIndex, $piece := (split $position "") }}
        {{ if (and (le "1" $piece) (le $piece "8"))}}
            {{ $data.Add "rank" (int $piece) }}
        {{ else }}
            {{ partial "components/chess/pieces" (dict "Context" . "Piece" $piece "X" ($data.Get "rank") "Y" $yIndex "Flip" $flip) }}
            {{ $data.Add "rank" 1 }}
        {{ end }}
    {{ end }}
{{ end }}
</g>
</svg>
{{ if $showCoords }}
{{- partial "components/chess/rank-labels" (dict "Context" . "Flip" $flip) -}}
{{ end }}
<rect width="394" height="394" stroke="var(--fg)" fill-opacity="0.0" stroke-opacity="0.2" stroke-width="2px" x="23" y="23" rx="10px"></rect>
</svg>
{{ with .Caption }}
<figcaption>{{ . | markdownify }}</figcaption>
{{ end }}
</figure>