{{ $flip := .Flip }}<g font-size="14.7" fill="var(--fg)" font-weight="500" pointer-events="none">{{ if $flip }}<text x="44" y="435">h</text>
<text x="93" y="435">g</text>
<text x="142" y="435">f</text>
<text x="191" y="435">e</text>
<text x="240" y="435">d</text>
<text x="289" y="435">c</text>
<text x="338" y="435">b</text>
<text x="387" y="435">a</text>
<text y="53"  x="6">1</text>
<text y="102" x="6">2</text>
<text y="151" x="6">3</text>
<text y="200" x="6">4</text>
<text y="249" x="6">5</text>
<text y="298" x="6">6</text>
<text y="347" x="6">7</text>
<text y="396" x="6">8</text>{{ else }}<text x="44" y="435">a</text>
<text x="93" y="435">b</text>
<text x="142" y="435">c</text>
<text x="191" y="435">d</text>
<text x="240" y="435">e</text>
<text x="289" y="435">f</text>
<text x="338" y="435">g</text>
<text x="387" y="435">h</text>
<text y="53"  x="6">8</text>
<text y="102" x="6">7</text>
<text y="151" x="6">6</text>
<text y="200" x="6">5</text>
<text y="249" x="6">4</text>
<text y="298" x="6">3</text>
<text y="347" x="6">2</text>
<text y="396" x="6">1</text>{{ end }}</g>