{{ if .IsHome }} 
    Home | 
{{ else }} 
    {{ if (eq .Section "minis")}}
        {{ if .Page.IsSection }}
            {{ .Page.Section | title }} |
        {{ else }}
            Mini #{{ .File.ContentBaseName }}: {{ .Page.Plain | truncate 35 "..." }} |
        {{ end }}
    {{ else }}
        {{ if .Page.Title }} 
            {{ if .IsPage }}
                {{ if (eq .Type "puzzles") }}#{{ .File.ContentBaseName }}:{{ end }}
                {{ if (eq .Type "newsletter") }}
                        {{ partial "helpers/newsletter-issue" . }}:
                {{ end }}
            {{ end }}
        {{ end }}
        {{ .Page.Title }} | 
    {{ end }}
{{ end }}
{{ .Site.Title }}
