*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  padding-left: 2rem;
  list-style-position: outside;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  max-width: 65ch;
  margin: 0 auto;
  padding: 0.8rem;
}

#content {
  -webkit-animation: fadeInAnimation ease-in 0.5s;
          animation: fadeInAnimation ease-in 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

::-moz-selection {
  background-color: var(--fg);
  color: var(--bg);
}

::selection {
  background-color: var(--fg);
  color: var(--bg);
}

figure {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
figure img {
  text-align: center;
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}
@media (prefers-color-scheme: dark) {
  figure img {
    opacity: 84%;
  }
}
@media (prefers-color-scheme: dark) {
  figure.diagram img {
    filter: hue-rotate(180deg) invert(1);
  }
}
figure figcaption {
  font-weight: 400;
  font-size: smaller;
  margin: 0.75rem auto;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Variable.ttf") format("truetype");
  font-weight: 125 950;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MW";
  src: url("/fonts/Merriweather-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MW";
  src: url("/fonts/Merriweather-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "JBMono";
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JBMono";
  src: url("/fonts/JetBrainsMono-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
html {
  font-size: 125%;
  font-family: "Inter", sans-serif;
  text-underline-offset: 0.15em;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.05em;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  margin-top: 3rem;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  margin-top: 2.75rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

ul,
ol,
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}

a, a:visited {
  color: inherit;
}
a:hover {
  text-decoration: none;
}

li {
  margin-bottom: 0.5rem;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

sup {
  font-size: small;
  vertical-align: super;
  margin-left: 0.1rem;
  margin-right: 0.05rem;
}

sub {
  font-size: small;
  vertical-align: sub;
  margin-left: 0.1rem;
  margin-right: 0.05rem;
}

.footnotes {
  font-size: smaller;
}
.footnotes .footnote-backref {
  font-size: smaller;
}

code {
  font-family: "JBMono";
  font-size: 0.9rem;
}

figcaption {
  font-size: smaller;
  max-width: 60ch;
  text-align: center;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--fg);
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
:root {
  --bg: papayawhip;
  --fg: #121212;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #121212;
    --fg: papayawhip;
  }
}
.header {
  border-bottom: 2px solid var(--fg);
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.header__logo {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.025em;
}
.header__sections {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.header a {
  text-decoration: none;
}
.header a:hover {
  text-decoration: underline;
}

.footer {
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-top: 2px solid var(--fg);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
.footer a {
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer__links {
  display: flex;
  gap: 1rem;
}

pre {
  border-radius: 0.25rem;
  padding: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow-x: scroll;
  font-variant-ligatures: none;
  line-height: 1.25;
}

p code,
li code,
h4 code,
kbd {
  padding: 0.05rem 0.2rem;
  border: 1px solid var(--fg);
  border-radius: 0.2rem;
}

h4 code {
  font-size: 1.2rem;
}

.items__list {
  list-style: none;
  padding-left: 0;
}

.list__key {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.item__title {
  font-weight: 600;
  font-size: larger;
  line-height: 1.5;
}

@media (min-width: 640px) {
  .list-section__item {
    display: grid;
    grid-template-columns: -webkit-max-content auto;
    grid-template-columns: max-content auto;
    grid-template-rows: auto;
    grid-template-areas: "dt details";
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
  }
}

.list-yearwise__item {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "dt tp" "details details";
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
.list-yearwise__item .item__type {
  font-size: smaller;
  grid-area: tp;
  justify-self: end;
}
.list-yearwise__item .item__type a {
  text-decoration: none;
}
.list-yearwise__item .item__type a:hover {
  text-decoration: underline;
}
@media (min-width: 640px) {
  .list-yearwise__item {
    grid-template-columns: -webkit-max-content auto -webkit-max-content;
    grid-template-columns: max-content auto max-content;
    grid-template-rows: auto;
    grid-template-areas: "dt details tp";
  }
  .list-yearwise__item .item__type {
    font-size: large;
  }
}

.list-section__item,
.list-yearwise__item {
  margin-bottom: 2rem;
}
.list-section__item .item__date,
.list-yearwise__item .item__date {
  display: flex;
  gap: 0.25rem;
  font-size: smaller;
  grid-area: dt;
}
@media (min-width: 640px) {
  .list-section__item,
.list-yearwise__item {
    margin-bottom: 1.5rem;
  }
  .list-section__item .item__date,
.list-yearwise__item .item__date {
    display: block;
    justify-self: start;
    align-self: start;
    width: 4.5ch;
    padding: 0 0.2rem;
    margin-top: 0.25rem;
    border-radius: 0.25rem;
    font-size: smaller;
    border: 2px solid var(--fg);
  }
  .list-section__item .item__month,
.list-yearwise__item .item__month {
    font-size: 0.8rem;
    text-align: center;
    line-height: 1;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .list-section__item .item__day,
.list-yearwise__item .item__day {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}
.list-section__item .item__details,
.list-yearwise__item .item__details {
  grid-area: details;
  justify-self: start;
}
.list-section__item .item__summary,
.list-yearwise__item .item__summary {
  margin-top: 0;
}

.list-archive__item {
  margin-bottom: 1.5rem;
}
.list-archive__item .item__date {
  font-size: smaller;
}
@media (min-width: 640px) {
  .list-archive__item {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
    justify-content: space-between;
  }
}

.admonition {
  border: 2px solid var(--fg);
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.admonition__title, .admonition__content {
  padding-left: 1rem;
  padding-right: 1rem;
}
.admonition__title {
  font-weight: 700;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--fg);
}

.home__pager {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.page__title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.page__subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.25;
}
.page__date {
  font-size: large;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.page__featuredimage {
  margin-top: 2.5rem;
  margin-bottom: -0.5rem;
  border-radius: 0.5rem;
}
.page__content {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.page__tags {
  margin-top: 4rem;
  display: flex;
  gap: 0.5rem;
  font-size: smaller;
  list-style: none;
  padding-left: 0;
}
.page__tags a {
  text-decoration: none;
}
.page__tags a:hover {
  text-decoration: underline;
}
.page__tags li {
  line-height: 1;
  padding: 0.25rem;
  border: 2px solid var(--fg);
  border-radius: 0.25rem;
}
.page__nav {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}/*# sourceMappingURL=main.css.map */