.site__footer {
  max-width: var(--header-width);
  margin-inline: auto;
  margin-block-start: var(--size-700);
  padding-block-start: var(--size-600);
  border-block-start: var(--border-medium) solid var(--fg);
  line-height: 1;
  
  @media (min-width: 640px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;
    padding-block-start: var(--size-400);
  }
}

.footer__copyright {
  display: block;
  text-align: center;
  margin: 0;
  margin-block-end: var(--size-400);
  @media (min-width: 640px) {
    margin: 0;
    text-align: left;
  }
}
.footer__links {
  margin-inline-start: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 1rem;
}
