.site__footer {
  max-width: var(--header-width);
  margin-inline: auto;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: var(--border-medium) solid var(--fg);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
  line-height: 1;
}
