.site__header {
  max-width: var(--header-width);
  margin-inline: auto;
  margin-block-end: var(--size-700);
  line-height: 1.2;
  border-block-end: var(--border-medium) solid var(--fg);
  padding-block-end: var(--size-300);

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  column-gap: var(--size-400);
  row-gap: var(--size-300);
}

.header__logo {
  margin: 0;
  margin-block-end: var(--size-400);
  font-family: var(--font-serif);
  text-align: center;
  font-size: var(--font-size-600);
  font-weight: 600;
  letter-spacing: -0.0125em;
  margin-block-end: 0;
  text-align: left;
}

.header__sections {
  margin-inline-start: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  column-gap: var(--size-400);
}

.skip__nav {
  position: absolute;
  transform: translateY(-200%);
  background-color: var(--bg);
  padding: 0.1rem 0.2rem;

  &:focus {
    transform: translateY(180%);
  }
}
