.site__header {
  @media (min-width: 640px) {
    display: flex;
    justify-content: space-between;
  }
  max-width: var(--header-width);
  margin-inline: auto;
  margin-block-end: var(--size-700);
  line-height: 1;
  border-block-end: var(--border-medium) solid var(--fg);
  padding-block-end: var(--size-400);
}

.header__logo {
  margin: 0;
  margin-block-end: var(--size-400);
  font-family: var(--font-serif);
  @media (min-width: 640px) {
    margin-block-end: 0;
  }
  text-align: center;
  font-size: var(--font-size-600);
  font-weight: 600;
  font-variation-settings: 'wght' 600;
  @media (min-width: 640px) {
    text-align: left;
  }
}

.header__sections {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.skip__nav {
  position: absolute;
  transform: translateY(-200%);
  background-color: var(--bg);
  padding: 0.1rem 0.2rem;

  &:focus {
    transform: translateY(300%);
    @media (min-width: 640px) {
      transform: translateY(180%);
    }
  }
}
