Good luck, have fun! 

---

[Share your attempts with me!](/contact)

- If you solved the problem, how did you solve it? Share your solutions, and the best ones will be featured with the next puzzle.

- If you are stuck, share your progress. What have you tried so far? I will give you a hint.

- Let me know if there's an error or something's not clear in the puzzle. 

- I would love your feedback. Did you find the puzzle interesting? Or was it too easy / too difficult?

- If you have any puzzles that you would like featured in this series, share those with me too!
