<div class="list-home__item">
  <div class="item__details">
    <a href="{{ .Permalink }}"> 
      {{ if (eq .Section "minis")}}
        Mini #{{ .File.ContentBaseName }}:
      <em>
          {{ .Page.Plain | truncate 35 "..."}}
      </em>
      {{ else }}
        {{- partial "single/post-prefix" . -}}
        {{- partial "single/post-id" . -}}
        {{- partial "single/post-id-title-separator" . -}}
        {{ .Title }}
      {{ end }}</a>
  </div>
  <span class="item__date">
     <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
  </span>
</div>
