<div class="list-talks__item">
  <div class="item__details [ flow ]">
    <div class="item__heading">
      <div class="item__title"><strong>{{ .title }}</strong></div>
      {{ with .collaborators }}
        <div class="item__collaborators">with
          {{ if eq (len .) 1 }}
            {{ range . }}
              {{ . }}
            {{ end }}
    
          {{ else if eq (len . ) 2 }}
            {{ range first 1 . }}
              {{ . }}
            {{ end }}
            {{ range last 1 . }}
              and {{ . }}
            {{ end }}
    
          {{ else }}
            {{ range first (sub (len .) 1) . }}
              {{ . }},
            {{ end }}
            {{ range last 1 . }}
              and {{ . }}
            {{ end }}
          {{ end }}
        </div>
      {{ end }}
    </div>
      {{ if (or .conference .fullversion) }}
      <p class="item__acceptances">
      {{ end }}  
      {{ with .conference }}
        Accepted in {{ .name }} {{ with .doi }} (<a href="https://doi.org/{{ . }}" rel="noreferrer noopener" target="_blank">link<sup>&nearrow;</sup></a>)  {{ else }} (<a href="{{ .pdf }}" rel="noreferrer noopener" target="_blank">link<sup>&nearrow;</sup></a>) {{ end }}
        {{ with .awards }}
          ({{ . }} ☆)
        {{ end }}<br/>
      {{ end }}
      {{ with .fullversion }}
        Full version at {{ .name }} {{ with .doi }} (<a href="https://doi.org/{{ . }}" rel="noreferrer noopener" target="_blank">link<sup>&nearrow;</sup></a>)  {{ end }}
        {{ with .awards }}
          {{ . }}
        {{ end }}
      {{ end }}
      {{ if (or .conference .fullversion) }}
      </p>
      {{ end }}  
      
      {{ with .abstract }}
        <details class="item__abstract__container">
          <summary>Abstract</summary>
          {{ . | markdownify }}
        </details>
      {{ end }}
  
      {{ with .events }}
      <div class="item__events__container">  
      <div>Presented at</div>
      <ul class="item__events">
        {{ range . }}
        <li class="item__event">
  	<details>
          <summary>{{ .name }}</summary>
  	  <div class="item__metadata">
  	    {{ with .date }}
    	    <div>Date: <time datetime="{{ dateFormat "2006-01-02T15:04:00-07:00" . }}">{{ dateFormat "January 2, 2006 3:04 PM" . }}</time></div>
  	    {{ end }}
  	    {{ with .location }}
    	    <div class="item__location">Venue: {{ . }}</div>
  	    {{ end }}
  	    {{ with .link }}
    	    <span class="item__location"><a href="{{ . }}" rel="noreferrer noopener" target="_blank">event link<sup>&nearrow;</sup></a></span>
  	    {{ end }}
  	    {{ with .recording }}
    	    <span class="item__location"><a href="{{ . }}" rel="noreferrer noopener" target="_blank">recording<sup>&nearrow;</sup></a></span>
  	    {{ end }}
  	  </div>
  	</details>
        </li>
        {{ end }}
      </ul>
      </div>
    {{ end }}
  </div>
</div>
