@use "../abstracts/mixins" as m;

.page {
  &__title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  &__subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.25;
  }
  &__date {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
  }
  &__lastmod {
    margin-top: 1rem;
  }

  &__featuredimage {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    & img {
      border: 0.15rem solid var(--fg);
    }
  }

  &__content {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
  }

  &__navtags {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: baseline;
    justify-content: space-between;
  }

  &__tags {
    display: flex;
    gap: 0.5rem;
    font-size: 0.9rem;

    @include m.plain-list;

    & a {
      @include m.plain-link;
      &:focus {
        outline-offset: 0.5rem;
        border-radius: 1px;
      }
    }

    & li {
      line-height: 1;
      padding: 0.25rem;
      border: 1.5px solid var(--fg);
      border-radius: 0.25rem;
    }
  }
  &__end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  &__all {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.25rem;
    border: 1.5px solid var(--fg);
    border-radius: 0.25rem;
    & a {
      @include m.plain-link;
      &:focus {
        outline-offset: 0.5em;
        border-radius: 1px;
      }
    }
  }

  &__nav {
    margin-top: 1rem;
    line-height: 1.75;
  }
  &__prevnext {
    border-top: 2px solid var(--fg);
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  &__prev,
  &__next {
    width: 50%;
    max-width: 25ch;
  }
  &__next {
    margin-left: auto;
    margin-right: 0;
    text-align: right;
    & a {
      justify-content: end;
    }
  }
}
