@use '../abstracts/mixins' as m;

.page {
  &__header {
    margin-top: 4rem;
    @media (min-width: 640px) {
      margin-top: min(6rem, 20vh);
    }
    margin-bottom: 3rem;
  }
  &__title {
    margin-top: 1rem;
    margin-bottom: 1.25rem;
  }
  &__subtitle {
    font-size: 1.35rem;
    font-weight: 400;
    letter-spacing: -0.02em;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.25;
  }
  &__date {
    margin-top: 0rem;
  }
  &__location {
    margin-top: 0.75rem;
    margin-bottom: 3rem;
  }
  &__lastmod {
    margin-top: 0.25rem;
    margin-bottom: 1.5rem;
  }

  &__featuredimage {
    margin-top: 2rem;
    margin-bottom: 2rem;
    img {
      border-radius: var(--border-radius-large);
    }
  }

  &__content {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  &__navtags {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    align-items: baseline;
  }

  &__tags {
    @include m.plain-list;
    display: flex;
    gap: 0.75rem;

    &__heading {
      font-size: var(--font-size-500);
      font-weight: 500;
    }

    &__link {
      border: var(--border-thin) solid var(--fg);
      padding: 0.25rem;
      border-radius: var(--border-radius-small);
      text-decoration: none;
      font-size: var(--font-size-300);
      &:hover {
        border-color: var(--accent);
      }
      &:focus {
        outline-offset: 0.25rem;
        border-radius: var(--border-radius-small);
      }
    }
  }
  &__end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  &__all {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.3rem;
    border-radius: 0.4rem;
    line-height: 1;
    & a {
      &:focus {
        outline-offset: 0.5em;
        border-radius: 1px;
      }
    }
  }
  &__seeall {
    margin-inline: auto;
    @media screen {
      max-width: var(--content-width);
    }
    &__link {
      font-size: var(--font-size-400);
    }
  }

  &__nav {
    margin-top: 1rem;
    line-height: 1.75;
  }
  &__prevnext {
    border-top: var(--border-medium) solid var(--fg);
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  &__prev,
  &__next {
    width: 50%;
    max-width: 25ch;
  }
  &__next {
    margin-left: auto;
    margin-right: 0;
    text-align: right;
    & a {
      justify-content: end;
    }
  }
  &__related {
    @media screen {
      max-width: var(--content-width);
    }
    margin-inline: auto;
    padding-top: 2rem;
    &__heading {
      border-top: var(--border-medium) solid var(--fg);
      font-family: var(--font-sans-serif);
      font-size: var(--font-size-600);
      padding-top: 2rem;
      margin-top: 1rem;
    }
  }
}
