@use '../globals/mixins' as m;

.page {
  &__header {
    margin-block-start: var(--size-800);
    margin-block-end: var(--size-700);

    .page {
      &__date {
        margin-block-start: 0;
      }
      &__id {
        margin-block-start: 0;
        font-size: var(--font-size-600);
      }
      &__title {
        margin-block-start: var(--size-400);
        margin-block-end: 0;
      }
      &__subtitle {
        margin-block-start: var(--size-300);
        font-size: 1.35rem;
        letter-spacing: -0.02em;
        text-wrap: balance;
        line-height: 1.35;
      }
      &__location {
        --flow-space: 0;
        margin-block-start: var(--size-400);
      }
    }
  }

  &__featuredimage {
    margin-block: var(--size-400);
  }

  &__content {
    margin-block-start: var(--size-500);
    margin-block-end: var(--size-600);
  }

  &__navtags {
    margin-block-start: var(--size-800);
    margin-block-end: var(--size-700);
  }

  &__tags {
    @include m.plain-list;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    column-gap: 0.75rem;
    & > li {
      margin-block: 0;
    }

    &__heading {
      font-size: var(--font-size-600);
      font-family: var(--font-sans-serif);
      font-weight: 500;
    }
  }
  &__related {
    margin-inline: auto;
    margin-block-end: var(--size-700);
    @media screen {
      max-width: var(--content-width);
    }
    &__heading {
      font-family: var(--font-sans-serif);
      font-size: var(--font-size-600);
    }
  }
  &__nav {
    &__heading {
      font-family: var(--font-sans-serif);
      font-size: var(--font-size-600);
      margin-block-start: var(--size-400);
      margin-block-end: calc(-1 * var(--size-200));
      border-block-start: var(--border-medium) solid var(--fg);
      padding-block-start: var(--size-700);
    }
    &__prev__title,
    &__next__title {
      font-size: var(--font-size-300);
      margin-block-start: var(--size-700);
    }
  }
  &__seeall {
    margin-inline: auto;
    margin-block-start: var(--size-700);
    @media screen {
      max-width: var(--content-width);
    }
    &__link {
      font-size: var(--font-size-400);
    }
  }
}
