.home {
  display: grid;
  margin-block-start: var(--size-500);
  margin-inline: auto;
  column-gap: var(--size-700);
  row-gap: var(--size-400);
  grid-template-columns: 1fr;
  @media (min-width: 800px) {
    margin-block-start: var(--size-200);
    grid-template-columns: 3fr 8fr;
  }
  &__profile {
    margin-block-start: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: var(--size-400);
    
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

    @media (min-width: 800px) {
      margin-block-start: var(--size-400);
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__picture {
      max-width: 150px;

      display: block;
      width: 100%;
      height: auto;
      border-radius: var(--border-radius-xl);
      border: var(--border-medium) solid var(--fg);
    }    
    &__text {
      // text-align: center;
      .profile {
        &__primary {
          font-size: var(--font-size-700);
          font-weight: 600;
          letter-spacing: -0.0125em;
	  line-height: 1.2;
          margin-block-start: var(--size-400);
        }
        &__secondary, &__tertiary {
          margin-block-start: var(--size-200);
          font-size: var(--font-size-400);
	  display: flex;
	  flex-wrap: wrap;
	  align-items: baseline;
	  row-gap: var(--size-100);
	  column-gap: var(--size-300);
	  justify-content: flex-start;

	  @media (min-width: 800px) {
	      justify-content: center;
	  }
        }

	&__tertiary {
	    // margin-block-start: var(--size-50);
	    margin-block-start: 0;

	}
      }
    }
  }
  #email-popover-anchor {
      anchor-name: --email-button;
  }
  #email-popover{
      // popover-reset
      margin: 0;
      inset: auto;

      position-anchor: --email-button;
      position-area: block-end span-inline-end;

      padding-inline: var(--size-200);
      padding-block: var(--size-100);
      border-radius: var(--border-radius-small);
      border: var(--border-medium) solid var(--fg);
      background-color: var(--bg);
      color: var(--fg)
  }
  &__content {
    .page__title {
	font-size: var(--font-size-700);
	margin-block-start: var(--size-400);
	font-weight: 500;
    }
    .page__subtitle {
	display: none;
	margin-block-start: var(--size-300);
    }
    .page__header {
      margin-block: 0;
    }
  }
  &__recent {
    border-block-start: var(--border-medium) solid var(--fg);
    padding-block-start: var(--size-200);
    // margin-block-start: var(--size-300);
    margin-block-end: var(--size-500);
    &__heading {
      font-family: var(--font-sans-serif);
      font-size: var(--font-size-600);
      letter-spacing: -0.01em;
      margin-block: var(--size-400);
    }
    &__seeall {
      margin-block-start: var(--size-600);
      text-align: right;
      // font-weight: 500;
    }
  }
}
