#content.maths,
#content.stories {
  .page__header,
  .page__content {
    font-family: 'Source Serif', 'IBM Plex Sans', sans-serif;
    .katex {
      font-size: 110%;
    }
    p {
      line-height: 1.6;
    }

    h1, h2 {
      font-family: 'Source Serif', 'IBM Plex Sans', sans-serif;
      letter-spacing: unset;
      font-variation-settings: 'wght' 600, 'opsz' 36;
    }

    h2 {
      font-variation-settings: 'wght' 500, 'opsz' 24;
    }
  }
  .page__subtitle {
    font-size: 140%;
  }
}
