#content.maths,
#content.stories {
  .page__header,
  .page__content {
    font-family: 'Source Serif', 'IBM Plex Sans', sans-serif;
    .katex {
      font-size: 110%;
    }
    p {
      line-height: 1.6;
    }

    h2 {
      font-family: 'Source Serif', 'IBM Plex Sans', sans-serif;
      letter-spacing: unset;
      font-variation-settings: unset;
    }
  }
  .page__subtitle {
    font-size: 140%;
  }
}
