@use '../abstracts/mixins' as m;

#content.maths,
#content.stories {
  .page__header,
  .page__content {
    font-size: 105%;
    font-family: 'Source Serif', 'IBM Plex Sans', sans-serif;
    .katex {
      font-size: 105%;
    }
    p {
      line-height: 1.6;
    }

    h1 {
      font-family: 'Source Serif', 'IBM Plex Sans', sans-serif;
      letter-spacing: unset;
      font-variation-settings: 'wght' 600, 'opsz' 40;
    }

    h2 {
      @include m.font-family-sans-serif;
      letter-spacing: -0.05rem;
      font-variation-settings: unset;
    }
  }
  .page__subtitle {
    font-size: 140%;
  }
}
