.minis {
  .page__date {
    margin-top: 3rem;
    margin-bottom: 0.75rem;
  }
  .page__time {
    margin-bottom: 0.75rem;
  }
  .page__content {
    font-size: 1.5rem;
    @media (min-width: 640px) {
      font-size: 1.75rem;
    }

    margin-top: 3rem;
    margin-bottom: 7.5rem;

    p {
      line-height: 1.6;
    }
  }
}
