.minis {
  .page__date {
    margin-top: 3rem;
  }
  .page__time {
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
  }
  .page__number {
    letter-spacing: unset;
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 3rem;
    margin-bottom: 0;
  }
  .page__content {
    @media (max-width: 640px) {
      font-size: 1.25rem;
    }
    font-size: 1.35rem;

    margin-top: 1rem;
    margin-bottom: 6rem;

    p {
      line-height: 1.5;
    }
  }
}
