.minis {
  .page__date {
    margin-block-start: var(--size-800);
  }
  .page__time {
    margin-block-end: var(--size-300);
    font-size: var(--font-size-500);
  }
  .page__number {
    font-size: var(--font-size-500);
    font-weight: 400;
    margin-block-start: var(--size-700);
    margin-block-end: 0;
  }
  .page__content {
    font-size: var(--font-size-600);

    margin-block-start: var(--size-100);
    margin-block-end: var(--size-900);
  }
}
