.poems {
  .items__list {
    @media screen {
      max-width: var(--content-width);
    }
    margin-inline: auto;
  }
  max-width: var(--header-width);
  .page__featuredimage {
    @media (min-width: 960px) {
      margin-block: var(--size-400);
    }
  }
  .page__header,
  .page__navtags,
  .page__nav {
    @media screen {
      max-width: var(--content-width);
    }
    margin-inline: auto;
  }
  .page__content {
    font-size: var(--font-size-500);
    max-width: max-content;
    margin-inline: auto;
    margin-block-start: var(--size-400);
    margin-block-end: 7.5rem;
    @media (min-width: 960px) {
      margin: 0;
      justify-self: center;
    }
  }
}

.poem__grid {
  @media (min-width: 960px) {
    margin-block-start: 0;
    display: grid;
    grid-template-columns: 7fr 4fr;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
  }
}
