@import "abstracts/breakpoints";
@import "abstracts/colors";
@import "abstracts/fonts";

@import "components/header";

* {
    box-sizing: border-box;
}

body {
    background-color: papayawhip;
    max-width: 65ch;
    margin: 0 auto;
}

#content {
    animation: fadeInAnimation ease-in 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

