{{ define "main" }}
<main>
  <div class="page__header">
    <h1 class="page__title">{{ .Title | humanize }}</h1>
    <h2 class="page__subtitle">Pages tagged with {{ .Title }}</h2>
  </div>
  {{.Content}}

  {{ range .Pages.GroupByDate "2006" }}
  <section id="{{ .Key }}">
    <h2 class="list__key">{{ .Key }}</h2>
    <ul class="items__list">
      {{ range .Pages }}
      <li>
        {{ if (eq .Section "minis")}}
          {{ partial "list/minis.html" . }}
        {{ else }}
          {{ partial "list/description.html" . }}
        {{ end }}
      </li>
      {{ end }}
    </ul>
  </section>
  {{ end }}

</main>
{{ end }}
