@use "../abstracts/colors" as c;

body {
  background-color: c.$bg--light;
  color: c.$fg--light;
  max-width: 65ch;
  margin: 0 auto;
  padding: 1rem;

  @media (prefers-color-scheme: dark) {
    background-color: c.$bg--dark;
    color: c.$fg--dark;
  }
}

::selection {
  background-color: c.$fg--light;
  color: c.$bg--light;
}
