figure {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  img {
    text-align: center;
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    // border: 2px solid var(--fg);
    @media (prefers-color-scheme: dark) {
      opacity: 84%;
    }
  }

  &.diagram img {
    @media (prefers-color-scheme: dark) {
      filter: hue-rotate(180deg) invert(1);
    }
  }

  figcaption {
    font-weight: 400;
    font-size: 0.75rem;
    margin: 0.75rem auto;
    line-height: 1.5;
  }
}

.float-right {
  float: right;
}
