html {
  font-size: 125%;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.05em;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

ul, ol, p {
  margin-top: 1rem;
  margin-bottom: 1.25rem;
  line-height: 1.5rem;
}

a {
  &, &:visited {
    color: inherit;
  }

  &:hover {
    text-decoration: none;
  }
}

li {
  margin-bottom: 1rem;
}

code {
  font-family: monospace;
}