html {
  font-size: 125%;
  font-family: 'Inter', sans-serif;
  text-underline-offset: 0.15em;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.05em;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  margin-top: 1.5rem;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

ul,
ol,
p {
  margin-top: 1rem;
  margin-bottom: 1.25rem;
  line-height: 1.6;
}

a {
  &,
  &:visited {
    color: inherit;
  }

  &:hover {
    text-decoration: none;
  }
}

li {
  margin-bottom: 0.5rem;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

sup {
  font-size: small;
  vertical-align: super;
  margin-left: 0.1rem;
  margin-right: 0.05rem;
}

.footnotes {
  font-size: smaller;
  & .footnote-backref {
    font-size: smaller;
  }
}

code {
  font-family: 'JBMono';
  font-size: 0.9rem;
}

figcaption {
  font-size: smaller;
  max-width: 60ch;
  text-align: center;
}