<!-- image -->
<figure {{ with .Get "class" }}class="{{.}}"{{ end }}>
    {{ with .Get "link" }}
        <a href="{{ . }}">
    {{ end }}
    {{ $relSrc := .Get "src" }}
    {{ $lightImg := .Page.Resources.GetMatch $relSrc }}
    {{ $darkSrc := .Get "dark-src" }}
    {{ $darkImg := .Page.Resources.GetMatch $darkSrc }}
    <picture>
        {{ with $darkImg }}
        <source srcset="{{ .Permalink }}" media="(prefers-color-scheme: dark)">
        {{ end }}
        <img src="{{ $lightImg.Permalink }}" {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" }}{{ end }}"{{ end }}>
    </picture>
    {{ if .Get "link" }}
        </a>
    {{ end }}
    {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr") }}
    <figcaption>
        {{ if isset .Params "title" }}
            <h4>{{ .Get "title" }}</h4>
        {{ end }}
        {{ if or (.Get "caption") (.Get "attr") }}
            {{ .Get "caption" | markdownify }}
            {{ with .Get "attrlink" }}
                <a href="{{ . }}"> 
            {{ end }}
            {{ .Get "attr" }}
            {{ if .Get "attrlink" }}</a> {{ end }}
        {{ end }}
    </figcaption>
    {{ end }}
</figure>
<!-- image -->