{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $date := "2015-08-13" }}
{{ $nowDate := time.Format "01-02" $date }}
<h3> {{ time.Format "January 2" $date }} </h3>
{{ range $pages }}
  {{ $pageDate := .Date.Format "01-02" }}
  {{ if (eq $nowDate $pageDate)}}
        {{ if (eq .Section "minis")}}
          {{ partial "list/minis.html" . }}
        {{ else }}
          {{ partial "list/description.html" . }}
        {{ end }}
  {{ end }}
{{ else }}
<p>No posts in this section yet. Check back later!</p>
{{ end }}

<hr/>