<ul class="items__list">
    {{ with $.Site.Data.books }}
        {{ range .reading}}
        <li>
            {{ partial "list/books.html" (dict "Context" . "Status" "reading") }}
        </li>
        {{ end }}
    {{ end }}
</ul>

<hr>

<ul class="items__list">
    {{ with $.Site.Data.books }}
        {{ range .wantToRead}}
        <li>
            {{ partial "list/books.html" (dict "Context" . "Status" "wantToRead") }}
        </li>
        {{ end }}
    {{ end }}
</ul>
<hr>
{{ $years := slice }}
{{ range $.Site.Data.books.read }}
    {{ $years = $years | append (dateFormat "2006" .endDate) }}
{{ end }}
{{ $years = uniq $years }}

<ul class="items__list">
    {{ range $years }}
    {{ $year := . }}
        {{ range $.Site.Data.books.read }}
        {{ if (eq (dateFormat "2006" .endDate) $year) }}
            <li>
            {{ partial "list/books.html" (dict "Context" . "Status" "read") }}
            </li>
        {{ end }}
        {{ end }}
    {{ end }}
</ul>