<ul class="items__list">
    {{ with $.Site.Data.tvseries }}
        <h2 class="items__heading">Currently watching</h2>
        {{ range .watching}}
        <li>
            {{ partial "list/tvseries.html" (dict "Context" . "Status" "watching") }}
        </li>
        {{ end }}
        <h2 class="items__heading">Want to watch</h2>
        {{ range .wantToWatch}}
        <li>
            {{ partial "list/tvseries.html" (dict "Context" . "Status" "wantToWatch") }}
        </li>
        {{ end }}
        <h2 class="items__heading">Finished watching</h2>
        {{ range .watched}}
        <li>
            {{ partial "list/tvseries.html" (dict "Context" . "Status" "watched") }}
        </li>
        {{ end }}
    {{ end }}
</ul>