Good luck, have fun! 

---

[Share your attempts with me!](/contact)

- If you have solved the problem, share your solutions! Best explanations will be featured with the next puzzle.

- If you are stuck, share your progress. What have you you tried so far? I will guide you towards the answer. 

- Let me know if there's an error or something's not clear in the puzzle. 

- I would love your feedback. Did you find the puzzle interesting / too easy / too difficult?

- If you have any puzzles that you would like featured in this series, share those with me too!
