<div class="list-description__item">
  <div class="item__text">
    <div class="item__metadata">
      {{ .Date.Format "January 2, 2006" }}
      {{ with .Params.Location }}
      &nbsp; · &nbsp; {{ partial "helpers/location" . }}
      {{ end }}
      &nbsp; · &nbsp; <a href="/{{ .Type }}">{{ .Type | title }}</a>
      {{ if (eq .Type "puzzles") }}
      &nbsp; · &nbsp; #{{ .Params.Number }} 
      {{ end }}
    </div>
    <div class="item__preview-image-small">
      {{ partial "list/preview-image" . }}
    </div>
    <div class="item__content">
      <div class="item__title">
        <a href="{{ .Permalink }}"> {{.Title}}</a>
      </div>
      <div class="item__summary">
        {{ .Summary | markdownify }}
      </div>
      <div class="item__read-more">
        <a href="{{ .Permalink }}">Read &#8594;</a>
      </div>
    </div>
  </div>
  <div class="item__preview-image-medium">
    {{ partial "list/preview-image" . }}
  </div>
</div>
