<div class="list-home__item">
  <div class="item__details">
    <a href="{{ .Permalink }}"> 
      {{ if (eq .Section "minis")}}
        Mini #{{ .File.ContentBaseName }}:
      <em>
          {{ .Page.Plain | truncate 35 "..."}}
      </em>
      {{ else }}
        {{ if (eq .Type "puzzles")}}
            Puzzle #{{ .File.ContentBaseName }}:
        {{ end }}
        {{ .Title }}
      {{ end }}</a>
  </div>
  <span class="item__date">
     <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2" }}</time>
  </span>
</div>