<div class="list-minimal__item">
  <div class="item__text">
    <div class="item__content">
      <div class="item__title">
        <a href="{{ .Permalink }}">
          {{ if (eq .Type "puzzles") }}
            #{{ .File.ContentBaseName }}:
          {{ end }}
          {{ if (eq .Type "newsletter") }}
              {{ partial "helpers/newsletter-issue" . }}:
          {{ end }}
          {{ if (eq .Type "thoughts") }}
              {{ partial "helpers/thoughts-prefix" . }}
          {{ end }}
          {{.Title}}</a>
      </div>
      <div class="item__summary">
        {{ .Summary | markdownify }}
      </div>
      {{ if .Pages }}
        <ol>
          {{ range $pageIndex, $page := .Pages.Reverse }}
            <li>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
          {{ end }}
        </ol>
      {{ end }}
    </div>
    <div class="item__metadata">
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
      {{ with .Params.Location }}
      &nbsp; · &nbsp; {{ partial "helpers/location" . }}
      {{ end }}
    </div>
  </div>
</div>
