{{ $pageIndex := (add .PageIndex 1) }}
{{ $context := .Context }}
{{ $comingSoon := .ComingSoon }}
<div class="list-series__item">
  <div class="item__text">
    <div class="item__content">
      <div class="item__title">
        {{ if .ComingSoon }}
          {{ $pageIndex }}. {{ $context }}
        {{ else }}
          <a href="{{ $context.Permalink }}"> 
            {{ $pageIndex }}. {{ $context.Title }}
          </a>
          {{ end }}
      </div>
      <div class="item__summary">
        {{ if .ComingSoon }}
          Coming soon&mldr;
        {{ else }}
          {{ $context.Summary | markdownify }}
        {{ end }}
      </div>
    </div>
    {{ if not .ComingSoon}}
      <div class="item__metadata">
        {{ $context.Date.Format "January 2, 2006" }}
        {{ with $context.Params.Location }}
        &nbsp; · &nbsp; {{ partial "helpers/location" $context }}
        {{ end }}
      </div>
    {{ end }}
</div>
