{{ $cv := "" }}

{{ with .Page.Resources.Get "cv.toml" }}
    {{ with unmarshal .Content }}
        {{ $cv = . }}
    {{ end }}
{{ else }}
    {{ errorf "Unable to get page resource cv.toml" }}
{{ end }}

{{ $educationsData := $cv.educations }}

{{ range $educationsData }}
<div class="[ cv__education] [ flow ]">
<p>
  <strong>{{ .programName }}</strong>, {{ cond (not .completed) "ongoing, synopsis submitted" (.endDate | time.Format "January 2006") }}
  <br/>
  <em>{{ .institute.name }}</em>, {{ .institute.city }}, {{ .institute.country }}
</p>
{{ if .advisor }}
<p>
  Advisor: {{ .advisor.name }}
  <br/>
  Thesis: <em>{{ .thesis.name }}</em>
</p>
{{ end }}
<p>
  Relevant courses:
  {{ range first (sub (len .courses) 1) .courses }}
  {{ . }};
  {{ end }}
  {{ range last 1 .courses }}
  {{ . }}
  {{ end }}
</p>
</div>
{{ end }}
