{{ $cv := "" }}

{{ with .Page.Resources.Get "cv.toml" }}
    {{ with unmarshal .Content }}
        {{ $cv = . }}
    {{ end }}
{{ else }}
    {{ errorf "Unable to get page resource cv.toml" }}
{{ end }}

{{ $talktype := default "publications" (.Get "talktype") }}
{{ $talkdata := "" }}

{{ if (eq $talktype "seminars") }}
  {{ $talkdata = $cv.seminars }}
{{ else if (eq $talktype "outreaches") }}
  {{ $talkdata = $cv.outreaches }}
{{ else }}
  {{ $talkdata = $cv.publications }}
{{ end }}


{{ with $talkdata }}
  <ul class="[ talks__list ] [ flow ]">
    {{ range . }}
    <li>
      {{ if (eq $talktype "seminars") }}
        {{ partial "list/seminars.html" . }}
      {{ else }}
        {{ partial "list/talks.html" . }}      
      {{ end }}
    </li>
    {{ end }}
  </ul>
{{ end }}
