<nav class="page__nav">
{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ if (in .Site.Params.mainSections .Type) }}
    <div class="page__prevnext">
        <div class="page__prev">
        {{ if $pages.Prev . }}
            <div>&#8592;</div>
            {{ with $pages.Prev . }}
                <a href="{{ .Permalink }}">
                {{ if (eq .Section "minis")}}
                    #{{ .Page.Params.Number }}: <em>
                    {{ .Page.Plain | truncate 35 "..." }}
                    </em>
                {{ else }}
                    {{ .Title }}
                {{ end }}
                </a>

            {{ end }}
        {{ else }}
            <div class="page__end">
            This is the oldest post.
            </div>
        {{ end }}
        </div>
        <div class="page__next">
        {{ if $pages.Next . }}
        <div>&#8594;</div>
            {{ with $pages.Next . }}
            <a href="{{ .Permalink }}">
                {{ if (eq .Section "minis")}}
                    #{{ .Page.Params.Number }}: <em>
                    {{ .Page.Plain | truncate 35 "..." }}
                    </em>
                {{ else }}
                    {{ .Title }}
                {{ end }}
            </a>
            {{ end }}
        {{ else }}
            <div class="page__end">
            This is the newest post.
            </div>
        {{end}}
        </div>
    </div>
{{ else }}
    <div class="page__home">
    <a href="/"><span>&#8592;</span> <span>home</span></a>
    </div>
{{ end }}
</nav>