{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $pages := where $pages "Type" "ne" "minis" }}
{{ $related := $pages.Related . | first 3 }}

{{ with $related }}
<div class="page__related">
	<h2 class="page__related__heading">Related pages</h2>
	<ul>
		{{ range . }}
		<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
		{{ end }}
	</ul>
</div>
{{ end }}
{{ if (in .Site.Params.mainSections .Type) }}
    {{ with .Section}}
    <div class="page__seeall">
        <a href="/{{ . }}" class="page__seeall__link">See all {{ with site.GetPage . }}{{ .Title | lower}}{{ end }} &#8594;</a>
    </div>
    {{ end }}
{{ end }}