<nav class="page__nav">
    {{ $pages := where .Site.RegularPages "Type" "in" .Section }}
    {{ $pageType := "pages"}}
    {{ with site.GetPage .Section }}
        {{ $pageType = .Title | lower }}
    {{ end }}
    {{ if (in .Site.Params.mainSections .Type) }}
        {{ if ge (len $pages) 2 }}
            <h2 class="page__nav__heading">More {{ $pageType }}</h2>
            {{ if $pages.Prev . }}
                <div class="page__nav__prev">
                    {{ with $pages.Prev . }}
                        <div class="page__nav__prev__title"> <span>&#8592;</span> Previous {{ $pageType | singularize }}</div>
                        <a href="{{ .Permalink }}">
                        {{ if (eq .Section "minis")}}
                            #{{ .File.ContentBaseName }}: <em>
                            {{ .Page.Plain | truncate 35 "..." }}
                            </em>
                        {{ else }}
                            {{ if (eq .Type "puzzles") }}
                                #{{ .File.ContentBaseName }}:
                            {{ end }}
                            {{ .Title }}
                        {{ end }}
                        </a>
                    {{ end }}
                </div>
            {{ end }}
            {{ if $pages.Next . }}
                <div class="page__nav__next">
                {{ with $pages.Next . }}
                    <div class="page__nav__next__title">Next {{ $pageType | singularize }} <span>&#8594;</span></div>
                    <a href="{{ .Permalink }}">
                        {{ if (eq .Section "minis")}}
                            #{{ .File.ContentBaseName }}: <em>
                            {{ .Page.Plain | truncate 35 "..." }}
                            </em>
                        {{ else }}
                            {{ if (eq .Type "puzzles") }}
                                #{{ .File.ContentBaseName }}:
                            {{ end }}
                            {{ .Title }}
                        {{ end }}
                    </a>
                {{ end }}
                </div>
            {{ end }}
            {{ with .Section}}
            <div class="page__seeall">
                <a href="/{{ . }}" class="page__seeall__link">See all {{ with site.GetPage . }}{{ .Title | lower}}{{ end }} &#8594;</a>
            </div>
            {{ end }}
        {{ end }}
    {{ else }}
        <div class="page__home">
        <a href="/"><span>&#8592;</span> <span>home</span></a>
        </div>
    {{ end }}
    </nav>