@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Variable.ttf') format('ttf');
  font-weight: 125 950;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}
