html {
  font-size: 125%;
  font-family: 'Inter', sans-serif, 'Noto Color Emoji', 'Apple Color Emoji',
    'Segoe UI Emoji';

}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-weight: 600;
}
