{{ $numberOfItems := 3 }}

{{ $newsItems := "" }}
{{ with $.Site.Data.news }}
    {{ $newsItems = sort $.Site.Data.news "newsDate" "desc" }}
{{ end }}

<div class="home__recent [ flow ]">
    <h2 class="home__recent__heading">News</h2>
    <ul class="news__list">
    {{ with $newsItems }}
        {{ range first $numberOfItems . }}
        <li class="news__item">
            {{ partial "list/news.html" (dict "Context" . "description" .description "newsDate" .newsDate) }}
        </li>
        {{ end }}
    {{ end }}
    </ul>
    {{ if gt (len $newsItems) $numberOfItems}}
        <div class="home__recent__seeall" >
            <a href="/news"> See all news &#8594;</a>
        </div>
    {{ end }}
</div>

