<div class="recent">
  <h2>Fun</h2>
  <div class="recent__group">
    {{ partial "home/recent-section" (dict "Context" . "SectionName" "puzzles") }} 
    {{ partial "home/recent-section" (dict "Context" . "SectionName" "poems") }}
    {{ partial "home/recent-section" (dict "Context" . "SectionName" "stories") }}
    {{ partial "home/recent-section" (dict "Context" .  "SectionName" "comics") }}
  </div>
  <h2>Explore</h2>
  <div class="recent__group">
    {{ partial "home/recent-section" (dict "Context" . "SectionName" "trips") }}
    {{ partial "home/recent-section" (dict "Context" . "SectionName" "links") }}
    {{ partial "home/recent-section" (dict "Context" . "SectionName" "lists") }}
    {{ partial "home/recent-section" (dict "Context" . "SectionName" "recipes") }}
    {{ partial "home/recent-section" (dict "Context" . "SectionName" "reviews") }}
  </div>
  <h2>Learn</h2>
  <div class="recent__group">
    {{ partial "home/recent-section" (dict "Context" . "SectionName" "dev") }}
  </div>
  <h2>Personal</h2>
  <div class="recent__group">
    {{ partial "home/recent-section" (dict "Context" . "SectionName" "posts") }}
    {{ partial "home/recent-section" (dict "Context" . "SectionName" "minis") }}
    {{ partial "home/recent-section" (dict "Context" . "SectionName" "thoughts") }}
  </div>
</div>