<div class="recent">
  <h2>Explore</h2>
  <div class="recent__group">
    {{ partial "home/recent-section" (dict "Context" . "SectionName" "articles") }}
    {{ partial "home/recent-section" (dict "Context" . "SectionName" "dev") }}
    {{ partial "home/recent-section" (dict "Context" . "SectionName" "trips") }}
    {{ partial "home/recent-section" (dict "Context" . "SectionName" "recipes") }}
    {{ partial "home/recent-section" (dict "Context" . "SectionName" "lists") }}
  </div>
  <h2>Fun</h2>
  <div class="recent__group">
    {{ partial "home/recent-section" (dict "Context" . "SectionName" "puzzles") }} 
    {{ partial "home/recent-section" (dict "Context" . "SectionName" "poems") }}
    {{ partial "home/recent-section" (dict "Context" . "SectionName" "stories") }}
    {{ partial "home/recent-section" (dict "Context" .  "SectionName" "comics") }}
  </div>
  <h2>Personal</h2>
  <div class="recent__group">
    {{ partial "home/recent-section" (dict "Context" . "SectionName" "newsletter") }}
    {{ partial "home/recent-section" (dict "Context" . "SectionName" "a-propos-de-moi") }}
    {{ partial "home/recent-section" (dict "Context" . "SectionName" "minis") }}
  </div>
</div>
