<div class="recent">
  {{ partial "home/recent-section" (dict "Context" . "SectionName" "articles") }}
  {{ partial "home/recent-section" (dict "Context" . "SectionName" "dev") }}
  {{ partial "home/recent-section" (dict "Context" . "SectionName" "trips") }}
  {{ partial "home/recent-section" (dict "Context" . "SectionName" "recipes") }}
  {{ partial "home/recent-section" (dict "Context" . "SectionName" "lists") }}
  {{ partial "home/recent-section" (dict "Context" . "SectionName" "puzzles") }} 
  {{ partial "home/recent-section" (dict "Context" . "SectionName" "poems") }}
  {{ partial "home/recent-section" (dict "Context" . "SectionName" "stories") }}
  {{ partial "home/recent-section" (dict "Context" .  "SectionName" "comics") }}
  {{ partial "home/recent-section" (dict "Context" . "SectionName" "newsletter") }}
</div>
