@use "../abstracts/colors" as c;

pre {
  border-radius: 0.25rem;
  padding: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow-x: scroll;
}

p code,
li code,
kbd {
  padding: 0.1em 0.2em;
  border: 1px solid black;
  border-radius: 0.2rem;
}
