@use "../abstracts/colors" as c;
@use "../abstracts/mixins" as m;

.footer {
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-top: 2px solid c.$fg--light;
  @media (prefers-color-scheme: dark) {
    border-top: 2px solid c.$fg--dark;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;

  & a {
    @include m.plain-link;
  }

  &__links {
    display: flex;
    gap: 1rem;
  }
}
