{{ define "main" }}
<div class="home">
  <div class="home__profile">
    <img
      class="home__profile__picture"
      width="400"
      height="400"
      src="/profile.webp"
      alt="Portrait of Pranshu Gaba standing in front of yellow flowers."
    />
    <div class="home__profile__text">
      <p class="profile__primary">Pranshu Gaba</p>
      <div class="[ profile__secondary ] [ plain-link ]">
	<a href="/about">about</a>
	<a href="/blog">blog</a>
	<a href="cv">cv</a>
      </div>
      <div class="[ profile__tertiary ] [ plain-link ]" >
	<a href="https://dblp.org/pid/345/7987" rel="noreferrer noopener" target="_blank">dblp</a>
	<button popovertarget="email-popover" id="email-popover-anchor">email</button>
	<div popover id="email-popover">
	  <a href="mailto:pranshu@pranshugaba.com">pranshu@pranshugaba.com</a>
	</div>
      </div>
    </div>
  </div>
  <div class="home__content">
    <header class="page__header">
      <h1 class="page__title" id="obiwan" title="General Kenobi">{{ .Title }}</h1>
      <p class="page__subtitle" id="kenobi" title="This is where the fun begins.">{{ .Params.Subtitle }}</p>
    </header>
    <article class="flow">{{ .Content }}</article>
  </div>
</div>
<div class="recent__home__grid">
  {{ partial "home/recent-news" . }}
  {{ partial "home/recent-home" . }}
  {{ partial "home/recent-photos" . }}
  {{ partial "home/tags" . }}
  {{ partial "home/recent-minis" . }}
  {{ partial "home/about-site" . }}
</div>
{{ end }}
