{{ define "main" }}
<div class="home">
  <div class="home__profile">
    <picture>
      <source type="image/webp" srcset="profile.webp">
      <source type="image/jpeg" srcset="profile.jpg">
      <img
        class="home__profile__picture"
        width="400"
        height="400"
        src="/profile.jpg"
        alt="Portrait of Pranshu Gaba standing in front of yellow flowers."
      />
    </picture>
    <div class="home__profile__text">
      <p class="profile__primary">Pranshu Gaba</p>
      <p class="profile__secondary"><a href="/about">About me &#8594;</a></p>
    </div>
    {{/*  <div class="home__profile__news">
      <h3>News</h3>
        <p>this is nice</p>
        <p>this is nice</p>
        <p>this is nice</p>
    </div>  */}}
  </div>
  <div class="home__content">
    <header class="page__header">
      <h1 class="page__title" id="obiwan" title="Click me">{{ .Title }}</h1>
      <p class="page__subtitle" id="kenobi">{{ .Params.Subtitle }}</p>
    </header>
    <article class="flow">{{ .Content }}</article>
    {{ partial "home/recent-home" . }}
    {{ partial "home/recent-photos" . }}
  </div>
</div>
{{ end }}
