{{ define "main" }}
 
{{ $itemsPerPage := 42 }}
{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $paginator := .Paginate ($pages.GroupByDate "2006") $itemsPerPage }}

{{ if eq ($paginator.PageNumber) 1 }}
  <h1 class="page__title">Hello there</h1>
    <h2 class="page__subtitle" >I am Pranshu Gaba</h2>
  {{ .Content }}
{{ end }}

{{ range $paginator.PageGroups }}
<section id="{{ .Key }}">
  <h2 class="list__key">{{ .Key }}</h2>
  <ul class="items__list">
      {{ range .Pages }}
      <li>
        {{ partial "list/description.html" . }}
      </li>
      {{ end }}
  </ul>
</section>
{{ end }}

<div class="home__pager">
<div>
  {{ with $paginator.HasPrev }}
    <a href="{{ $paginator.Prev.URL }}"><- newer </a>
  {{ end }}
</div>
<div>
  {{ with $paginator.HasNext }}
    <a href="{{ $paginator.Next.URL }}">older -> </a>
  {{ end }}
</div>
</div>
{{ end }}
