{{ $showCoords := (ne .HideCoords "true")}}
{{ $flip := (eq .Flip "true") }}
{{ $fen := .FEN }}
<figure class="inline-svg">
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    <svg version='1.1' xmlns="http://www.w3.org/2000/svg" width="auto" height="auto" viewBox="0 20 420 420">
        <rect width="394" height="394" fill="var(--light)" x="23" y="23"></rect>
        <rect width="394" height="394" fill="var(--dark)" fill-opacity="0.1" x="23" y="23"></rect>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="392" height="392" viewBox="0 0 392 392" x="24" y="24">
{{ partial "helpers/chess/squares" . }}
<g>
{{ range $yIndex, $position := (split $fen "/") }}
    {{ $data := newScratch}}
    {{ $data.Set "rank" 0 }}
    {{ range $xIndex, $piece := (split $position "") }}
        {{ if (and (le "1" $piece) (le $piece "8"))}}
            {{ $data.Add "rank" (int $piece) }}
        {{ else }}
            {{ partial "helpers/chess/pieces" (dict "Context" . "Piece" $piece "X" ($data.Get "rank") "Y" $yIndex "Flip" $flip) }}
            {{ $data.Add "rank" 1 }}
        {{ end }}
    {{ end }}
{{ end }}
</g>
</svg>
{{ if $showCoords }}
{{- partial "helpers/chess/rank-labels" (dict "Context" . "Flip" $flip) -}}
{{ end }}
</svg>
{{ with .Caption }}
<figcaption>{{ . | markdownify }}</figcaption>
{{ end }}
</figure>