{{ $img := (.Resources.ByType "image").GetMatch "*featured*" }} 
{{ with $img }}
  {{ $orientation := 1 }}
  {{ with .Exif }}
    {{ $orientation = .Tags.Orientation }}
  {{ end }}
  <figure class="page__featuredimage">
    {{ $big := "" }}
    {{ $small := "" }}
    {{ if lt .Height .Width }}
      {{ $big = .Resize "1080x" }}
    {{ else }}
      {{ $big = .Resize "x1080" }}
    {{ end }}
    <img
      src="{{ $big.Permalink }}"
      alt="{{ $img.Title }}"
      height="{{ $big.Height }}"
      width="{{ $big.Width }}"
    />
  </figure>
{{ end }}
