{{ $img := (.Resources.ByType "image").GetMatch "*featured*" }}

{{ with $img }}
   {{/* $big := .Fill "1024x512 top" */}}
   {{ $big := . }}
   {{ $small := $big.Resize "512x" }}
    <img srcset="{{ $small.RelPermalink }} 1x, {{ $big.RelPermalink }} 2x" alt="{{ $img.Title }}" width="{{ $big.Width }}"  class="mw-100 b--light-gray ba">
{{ end }}
 <div class="mid-gray nested-copy-line-height nested-img nested-links">
{{with .Params.byline }}
   <div style="margin-top: 20px; font-style: italic;">By {{ . | markdownify -}}</div>
{{ end }}