{{ $images := (.Context.Page.Resources.Match (printf "%s/*.{jpg,jpeg,png}" .Directory)) }}

{{ with $images}}
    {{ range . }}
    <figure class="figure__gallery">
        {{ $big := "" }}
        {{ if lt .Height .Width }}
        {{ $big = .Resize "1080x" }}
        {{ else }}
        {{ $big = .Resize "x1080" }}
        {{ end }}
        <img
        src="{{ $big.Permalink }}"
        {{ $altFile := (printf "%s%s" .RelPermalink ".alt")}}
        alt="{{ $altFile | readFile }}"
        height="{{ $big.Height }}"
        width="{{ $big.Width }}"
        />
        <figcaption>
            {{ $captionFile := (printf "%s%s" .RelPermalink ".caption")}}
            {{ $caption := $captionFile | readFile | markdownify }}
                {{ if not ( findRE "<[h|p][^>]*>" $caption ) }}
                    <p>{{ $caption }}</p>
                {{ else }}
                    {{ $caption }}
                {{ end }}
        </figcaption>
    </figure>
    {{ end }}
{{ end }}