<div>
  <div id="hello" class="leaflet-map"></div>
  <div class="route__metadata">
    Statues in Mumbai
  </div>
</div>

{{ $images := .Context.Page.Resources.Match (printf "%s/*" .Images) }}

<script>
    {
      let coords = [19.18, 72.82];
      let zoomLevel = 12;
      var corner1 = L.latLng(18.743, 73.394),
      corner2 = L.latLng(19.470, 72.507),
      bounds = L.latLngBounds(corner1, corner2);
      let mymap = L.map('hello', {
        fullscreenControl: true,
        preferCanvas: true,
        zoomSnap: 0.5,
        zoomDelta: 0.5,
        scrollWheelZoom: false,
      }).setView(coords, zoomLevel);

      const ATTR =
        '&copy; <a href="https://stadiamaps.com/" target="_blank" rel="noopener">Stadia Maps</a>, ' +
        '&copy; <a href="https://openmaptiles.org/" target="_blank" rel="noopener">OpenMapTiles</a> ' +
        '&copy; <a href="http://openstreetmap.org" target="_blank" rel="noopener">OpenStreetMap</a>';
      const TILES_URL =
        'https://tiles.stadiamaps.com/tiles/osm_bright/{z}/{x}/{y}{r}.png';

      let Stadia_OSMBright = L.tileLayer(TILES_URL, {
        minZoom: 3,
        maxZoom: 18,
        attribution: ATTR,
      });
      Stadia_OSMBright.addTo(mymap);

      L.control.scale({ imperial: false }).addTo(mymap);

      {{ with $images }}
        const photos = [
          {{ range . }}
            {
              {{ with .Exif }}
                lat: {{ .Lat }},
                lng: {{ .Long }},
              {{ end }}
            },
          {{ end }}
        ];
      {{ end }}
      console.log(photos);
      for (const photo in photos) {
        L.circleMarker([photos[photo].lat, photos[photo].lng], {
          color: 'azure',
          fillColor: 'azure',
          fillOpacity: 0.6,
          weight: 2,
          radius: 7,
        }).addTo(mymap);
      }
      mymap.fitBounds(photos);
    }
</script>