<div id="{{ .Route }}" class="leaflet-map"></div>
<p id="{{ .Route }}-distance"></p>
{{ $images := .Context.Page.Resources.Match (printf "%s/*" .Route) }}
<script>
  {
    let coords = [19.18, 72.82];
    let zoomLevel = 12;
    let mymap = L.map('{{ .Route }}', {
      fullscreenControl: true,
    }).setView(coords, zoomLevel);

    const ATTR =
      '&copy; <a href="https://stadiamaps.com/">Stadia Maps</a>, ' +
      '&copy; <a href="https://openmaptiles.org/">OpenMapTiles</a> ' +
      '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
    const TILES_URL =
      'https://tiles.stadiamaps.com/tiles/osm_bright/{z}/{x}/{y}{r}.png';
    let Stadia_OSMBright = L.tileLayer(TILES_URL, {
      maxZoom: 17,
      attribution: ATTR,
    });
    Stadia_OSMBright.addTo(mymap);

    L.control.scale({ imperial: false }).addTo(mymap);

    let gpx = '{{ .Route }}.gpx'; // URL to your GPX file or the GPX itself
    new L.GPX(gpx, {
      async: true,
      marker_options: {
        shadowUrl: '/img/shadow.png',
        endIconUrl: '/img/end.png',
        startIconUrl: '/img/start.png',
      },
      polyline_options: {
        color: '#0096FF',
        opacity: 0.9,
        weight: 3,
        lineCap: 'round',
      },
    })
      .on('loaded', function (e) {
        mymap.fitBounds(e.target.getBounds());
        let distance = e.target.get_distance() / 1000;
        document.getElementById(
          '{{ .Route }}-distance'
        ).innerText = `Distance: ${parseFloat(distance.toPrecision(3))} km`;
      })
      .addTo(mymap);

    {{ with $images}}
      var photos = [
        {{ range . }}
          {{ $thumbnail := .Fill  "100x100" }}
          {{ $big := .Resize "x640" }}
          {
            {{ with .Exif }}
              lat: {{ .Lat }},
              lng: {{ .Long }},
              {{ if .Tags.ImageDescription }}
                name: '{{ .Tags.ImageDescription }}',
              {{ else }}
                name: '',
              {{ end }}
            {{ end }}
            url: '{{ $big.Permalink }}',
            thumbnail:
              '{{ $thumbnail.Permalink }}',
          },
        {{ end }}
      ];

      var photoLayer = L.photo.cluster().on('click', function (evt) {
        var photo = evt.layer.photo;
        var template = '<img src="{url}" /></a><p>{name}</p>';
        evt.layer
          .bindPopup(L.Util.template(template, photo), {
            className: 'leaflet-popup-photo',
            minWidth: 400,
          })
          .openPopup();
      });

      photoLayer.add(photos).addTo(mymap);
    {{ end }}
  }
</script>
