<div id="map" class="leaflet-map" style="width: 100%; height: 300px"></div>
<script>
  let map = new maplibregl.Map({
    container: 'map',
    style: 'https://tiles.stadiamaps.com/styles/osm_bright.json', // stylesheet location
    center: [72.82, 19.22], // starting position [lng, lat]
    zoom: 10, // starting zoom
    hash: true,
    maplibreLogo: true,
    logoPosition: 'top-left',
    //    cooperativeGestures: true,
  });
  let nav = new maplibregl.NavigationControl({
    visualizePitch: true,
  });
  map.addControl(nav, 'top-right');
  var scale = new maplibregl.ScaleControl({
    maxWidth: 80,
    unit: 'imperial',
  });
  map.addControl(scale);

  scale.setUnit('metric');
  map.addControl(new maplibregl.FullscreenControl());
  // add to map

  //  let marker = new maplibregl.Marker({ color: '#abcdef' })
  //    .setLngLat([72.82, 19.22])
  //    .addTo(map);

  map.on('load', function () {
    map.addSource('route', {
      type: 'geojson',
      data: './day2.geojson',
    });
    map.addLayer({
      id: 'route',
      type: 'line',
      source: 'route',
      layout: {
        'line-join': 'round',
        'line-cap': 'round',
      },
      paint: {
        'line-color': '#121212',
        'line-width': 3,
      },
    });
  });
</script>
