<div id="mapdiv" style="width: 100%; height: 500px"></div>
<script>
  let map = new maplibregl.Map({
    container: 'mapdiv',
    style: 'https://tiles.stadiamaps.com/styles/osm_bright.json', // stylesheet location
    center: [72.82, 19.22], // starting position [lng, lat]
    zoom: 11, // starting zoom
    hash: false,
    // maplibreLogo: true,
    logoPosition: 'top-right',
    //    cooperativeGestures: true,
  });

  let nav = new maplibregl.NavigationControl({
    visualizePitch: true,
  });
  map.addControl(nav, 'top-left');

  let scale = new maplibregl.ScaleControl({
    maxWidth: 80,
    unit: 'metric',
  });
  map.addControl(scale);

  let fullScreen = new maplibregl.FullscreenControl()
  map.addControl(fullScreen, 'top-left');

  //  let marker = new maplibregl.Marker({ color: '#abcdef' })
  //    .setLngLat([72.82, 19.22])
  //    .addTo(map);

  map.on('load', function () {
    map.addSource('route', {
      type: 'geojson',
      data: './day3.geojson',
    });
    map.addLayer({
      id: 'route',
      type: 'line',
      source: 'route',
      layout: {
        'line-join': 'round',
        'line-cap': 'round',
      },
      paint: {
        'line-color': '#121212',
        'line-width': 3,
      },
    });
  });
</script>
