{{ $img := (.Resources.ByType "image").GetMatch "*featured*[png,jpeg,jpg,webp]" }} 
{{ $page := . }}
{{ with $img }}
    <div class="photowall__container">
        <a href="{{ $page.Permalink }}" class="photowall__anchor"> 
            {{ $resizedImg := .Fill "420x420 Center webp q85" }}
            <img
            src="{{ $resizedImg.Permalink }}"
            alt="{{ $img.Title }}"
            height="{{ $resizedImg.Height }}"
            width="{{ $resizedImg.Width }}"
            class="photowall__image"
            />
        </a>
    </div>
{{ end }}