@use "../abstracts/mixins" as m;

.page {
  &__title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  &__subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.25;
  }
  &__date {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
  }
  &__lastmod {
    margin-top: 1rem;
  }

  &__featuredimage {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    & img {
      border: 0.15rem solid var(--fg);
    }
  }

  &__content {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
  }

  &__tags {
    margin-top: 2rem;
    display: flex;
    gap: 0.5rem;
    font-size: smaller;

    @include m.plain-list;

    & a {
      @include m.plain-link;
    }

    & li {
      line-height: 1;
      padding: 0.25rem;
      border: 1.5px solid var(--fg);
      border-radius: 0.25rem;
    }
  }

  &__nav {
    margin-top: 3rem;
    line-height: 1.6;
    @media (min-width: 640px) {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
  &__prevnext {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__all {
    margin-top: 2rem;
    @media (min-width: 640px) {
      margin-top: 0;
    }
  }
}
