.admonition {
  border: var(--border-medium) solid var(--fg);
  border-radius: 0.5rem;

  &__title,
  &__content {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  &__title {
    font-weight: 700;
    line-height: 1.25;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: var(--border-medium) solid var(--fg);
  }
  & img {
    text-align: center;
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
  }
}