.admonition {
  border: var(--border-medium) solid var(--fg);
  border-radius: var(--border-radius-medium);

  &__title,
  &__content {
    padding-inline: var(--size-300);
  }
  &__title {
    font-weight: 700;
    line-height: 1.25;
    padding-block: var(--size-200);
    border-block-end: var(--border-medium) solid var(--fg);
  }
  & img {
    text-align: center;
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
  }
}