details summary {
  cursor: pointer;
  &:focus-visible {
    border-radius: var(--border-radius-medium);
    outline: 0.15em solid var(--accent);
    // outline-offset: 0.2em;
  }
}

details {
  --flow-space: var(--size-700);
}

details .admonition__content {
  --flow-space: var(--size-400);
}
details summary > * {
  display: inline;
}

details .admonition__title {
  border: none;
}

details[open] .admonition__title {
  border-bottom: var(--border-medium) solid var(--fg);
}
