details summary {
  cursor: pointer;
  &:focus-visible {
    border-radius: 0.5rem;
    outline: 0.15em solid var(--accent);
    // outline-offset: 0.2em;
  }
}

details {
  --flow-space: 2rem;
}

details .admonition__content {
  --flow-space: 1.5rem;
}
details summary > * {
  display: inline;
}

details .admonition__title {
  border: none;
}

details[open] .admonition__title {
  border-bottom: var(--border-medium) solid var(--fg);
}
