figure {
  text-align: center;
  --flow-space: var(--size-500);

  img {
    text-align: center;
    max-height: 640px;
    max-width: 100%;
    height: auto;
    width: auto;
    margin: 0 auto;
    border-radius: var(--border-radius-medium);
    border: var(--border-medium) solid var(--fg);
  }

  &.no-border {
    img {
      border: none;
      border-radius: 0;
    }
  }
  
  &.gnome-screenshot {
    img {
      border: none;
      border-radius: 0;
      margin-block-start: -10px;
      margin-block-end: -25px;
    }
  }

  &.small {
    img {
      max-height: 240px;
    }
    figcaption {
      max-width: 30ch;
    }
  }
  &.medium {
    img {
      max-height: 360px;
    }
    figcaption {
      max-width: 45ch;
    }
  }
  &.large {
    img {
      max-height: 420px;
    }
    figcaption {
      max-width: 60ch;
    }
  }

  &.no-rounded-corner img {
    border-radius: 0;
  }

  figcaption {
    font-weight: 400;
    font-size: var(--font-size-200);
    margin: var(--size-50) auto var(--size-400);
    max-width: 69ch;
  }
}

.dark-mode {
  figure img {
    filter: brightness(0.9);
  }
}

@media print {
  figure {
    img {
      max-width: 75%;
    }
  }
}
