figure {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  img {
    text-align: center;
    max-height: 640px;
    max-width: 100%;
    height: auto;
    width: auto;
    margin: 0 auto;
    border-radius: 0.5rem;
    border: var(--border-medium) solid var(--fg);
  }

  &.no-border {
    img {
      border: none;
      border-radius: 0;
    }
  }

  &.small {
    img {
      max-height: 240px;
    }
    figcaption {
      max-width: 30ch;
    }
  }
  &.medium {
    img {
      max-height: 360px;
    }
    figcaption {
      max-width: 45ch;
    }
  }
  &.large {
    img {
      max-height: 420px;
    }
    figcaption {
      max-width: 60ch;
    }
  }

  &.no-rounded-corner img {
    border-radius: 0;
  }

  figcaption {
    font-weight: 400;
    font-size: 0.85rem;
    margin: 0.1rem auto 0.9rem;
    line-height: 1.5;
  }
}

.dark-mode {
  figure img {
    filter: brightness(0.9);
  }
}

@media print {
  figure {
    img {
      max-width: 75%;
    }
  }
}
