@use "../abstracts/mixins" as m;

.footer {
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-top: 2px solid var(--fg);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;

  & a {
    @include m.plain-link;
  }

  #dark-mode-toggle {
    cursor: pointer;
    border-radius: 0.15rem;
  }
}
