a.footnote-ref {
  color: var(--accent);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.footnote-ref::before {
  content: '[';
}
.footnote-ref::after {
  content: ']';
}

.footnotes {
  font-size: var(--font-size-300);
  & .footnote-backref {
    font-size: var(--font-size-300);
    color: var(--accent);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
