.gallery {
  &__figure {
    --flow-space: 3em;
    margin-inline: auto;
    border: var(--border-medium) solid var(--fg);
    overflow: hidden;
    max-width: max-content;
    border-radius: var(--border-radius-medium);
    img {
      border-radius: 0;
      border: none;
      vertical-align: middle;
    }
    figcaption {
      text-align: left;
      font-size: 1rem;
      // https://stackoverflow.com/questions/9769587/set-div-to-have-its-siblings-width/37034774
      flex-grow: 1; // Image not wider than image
      width: 0; // Image not wider than image
      margin-block: 0; // Image not wider than image
    }
  }

  &__caption {
    display: flex; // This is make sure the caption is not wider than the image.
    border-top: var(--border-medium) solid var(--fg);
    padding-inline: 0.75rem;
    padding-block: 0;
    p,
    p:first-child,
    p:last-child {
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
    }
  }
  &__metadata {
    display: flex;
    justify-content: space-between;
    line-height: 1.25;
    border-bottom: var(--border-medium) solid var(--fg);
    padding: 0.5rem;
    gap: 1rem;
    font-size: 0.9rem;
  }
}
