@use "../abstracts/mixins" as m;

.gallery {
  &__figure {
    margin-top: 2rem;
    margin-bottom: 4.5rem;
    border: 2px solid var(--fg);
    overflow: hidden;
    border-radius: 0.5rem;
    img {
      border-radius: 0;
      border: none;
      vertical-align: middle;
    }
    figcaption {
      text-align: left;
      font-size: 1rem;
    }
  }

  &__caption {
    border-top: 2px solid var(--fg);
    padding-inline: 0.75rem;
    padding-block: 0;
    p {
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
    }
  }
  &__metadata {
    display: flex;
    justify-content: space-between;
    line-height: 1.25;
    border-bottom: 2px solid var(--fg);
    padding: 0.5rem;
    gap: 1rem;
    font-size: 0.9rem;
    & a {
      @include m.plain-link;
    }
  }
}
