.home {
  display: grid;
  max-width: calc(var(--header-width) - 2rem);
  margin-block-start: 3rem;
  margin-inline: auto;
  column-gap: 3rem;
  row-gap: 2rem;
  grid-template-columns: 1fr;
  align-items: center;
  @media (min-width: 800px) {
    grid-template-columns: 2fr 7fr;
  }

  &__profile {
    margin-top: 1rem;
    &__picture {
      max-width: 240px;
      margin-inline: auto;
      display: block;
      width: 100%;
      height: auto;
      border-radius: var(--border-radius-large);
      border: var(--border-medium) solid var(--fg);
    }
    &__text {
      text-align: center;
      margin-top: 1rem;
    }
  }
  &__content {
    .page__header {
      margin-top: 0rem;
      margin-bottom: 2rem;
    }
    // background-color: blue;
  }
}

.profile {
  &__primary {
    font-size: var(--font-size-600);
    font-weight: 500;
    letter-spacing: -0.025em;
    line-height: 1.25;
    margin-bottom: 0.5rem;
  }
  &__secondary {
    margin-top: 0.25rem;
    font-size: var(--font-size-300);
  }
}
