@use "../abstracts/colors" as c;
@use "../abstracts/mixins" as m;

.items__list {
  @include m.plain-list;
}

.list__key {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  border-bottom: 2px solid var(--fg);
  padding: 1rem 0 0.75rem;
  @media (min-height: 320px) {
    position: sticky;
    top: 0px;
  }
  background-color: var(--bg);
  z-index: 100;
}

.item__title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5;
}

.list-description__item,
.list-mini__item {
  margin-bottom: 3rem;

  .item__date {
    display: flex;
    gap: 0.25rem;
    font-size: 0.8rem;
    margin-bottom: 0.1rem;
  }

  @media (min-width: 640px) {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: auto;
    grid-template-areas: 'dt details';
    column-gap: 1.25rem;

    .item__date {
      display: block;
      justify-self: start;
      align-self: start;
      width: 4.5ch;
      padding: 0 0.2rem;
      margin-top: 0.5rem;
      border-radius: 0.4rem;
      font-size: smaller;
      border: 2px solid var(--fg);
      grid-area: dt;
    }
    .item__month {
      font-size: 0.8rem;
      text-align: center;
      line-height: 1;
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
    .item__day {
      font-size: 1.2rem;
      text-align: center;
      line-height: 1;
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
  }
  & .item__details {
    grid-area: details;
    justify-self: start;
  }

  & .item__summary {
    margin-top: 0.25rem;
  }
}

.list-archive__item,
.list-books__item {
  margin-bottom: 2rem;
  & .item__date {
    font-size: smaller;
  }

  @media (min-width: 640px) {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
    justify-content: space-between;
  }
}

.list-books__item {
  margin-top: 2.5rem;
}

.list-mini__item {
  .item__time {
    margin-top: 0.5rem;

    @media (min-width: 640px) {
      margin-top: 0;
    }
  }
  .item__content {
    font-size: 1.25rem;
    p {
      line-height: 1.6;
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
    }
    :first-child {
      margin-top: 0.75rem;
    }
    :last-child {
      margin-bottom: 0;
    }
    figure {
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
    }
  }
}
