@use '../globals/mixins' as m;

.items__list {
  @include m.plain-list;
  --flow-space: var(--size-800);
}

.books__list {
  @include m.plain-list;
  --flow-space: 2rem;
}

.list__key {
  font-family: var(--font-sans-serif);
  font-variation-settings: unset;
  font-weight: 500;
  line-height: 1;
  margin-block: var(--size-400);
  font-size: var(--font-size-700);
  border-block-end: var(--border-medium) solid var(--fg);
  padding-block: var(--size-300) var(--size-200);
  background-color: var(--bg);
  z-index: 100;
  
  @media (min-height: 320px) {
    position: sticky;
    inset-block-start: 0px;
  }
}

.list-books__item {
  margin-block-end: var(--size-700);
  & .item__date {
    font-size: var(--font-size-300);
  }
  .item__title {
    font-weight: 600;
    font-size: var(--font-size-600);
    line-height: 1.35;
  }
  flex-direction: row-reverse;

  @media (min-width: 640px) {
    margin-block-end: var(--size-400);
    display: flex;
    gap: var(--size-200);
    justify-content: space-between;
  }
}

.list-mini__item {
  // background-color: hsla(234, 81%, 75%, 0.14);
  padding-block-start: var(--size-400);
  padding-block-end: var(--size-200);
  padding-inline: var(--size-300);
  border: var(--border-medium) solid var(--fg);
  border-radius: var(--border-radius-large);
  .item__metadata {
    font-size: var(--font-size-250);
    margin-block-end: var(--size-100);
    width: max-content;
  }

  .item__content {
    margin-block: var(--size-200);
  }
  .item__read-more {
    margin-block-start: var(--size-300);
    font-size: var(--font-size-250);
  }

  .item__content {
    font-size: var(--font-size-500);

    p {
      margin-block: var(--size-300);
    }
    p:first-child {
      margin-block-start: 0;
    }
    figure {
      margin-block: var(--size-200);
    }
  }
}

.items__heading {
  border-block-end: var(--border-medium) solid var(--fg);
  padding: var(--size-400) 0 var(--size-300);
}

.list-minimal__item {
  margin-block-start: var(--size-700);
  .item__title {
    font-weight: 600;
    font-size: var(--font-size-700);
    line-height: 1.35;
    text-wrap: balance;
  }
  .item__summary {
    margin-block-start: var(--size-200);
    font-size: var(--font-size-400);
  }
  .item__metadata {
    margin-block-start: var(--size-200);
    font-size: var(--font-size-200);
  }
}

.list-home__item {
  @media (min-width: 640px) {
    margin-block: var(--size-300);
    display: grid;
    grid-template-columns: auto 10ch;
    align-items: baseline;
    column-gap: var(--size-200);
  }
  .item__details {
    font-weight: 500;
    text-wrap: balance;
  }
  .item__date {
    font-size: var(--font-size-250);
    text-align: right;
  }
}

.archive-year {
  margin-block-start: calc(-1 * var(--size-400));
  &:first-of-type {
    margin-block-start: var(--size-700);
  }

  .items__list {
    padding-block-end: var(--size-700);
    // padding-inline: var(--size-200);
    @media (min-width: 640px) {
      padding-inline: var(--size-300);
    }
  }
}

.list-archive__item {
  margin-block: var(--size-500);
  @media (min-width: 640px) {
    margin-block: var(--size-300);
    display: grid;
    grid-template-columns: auto 6ch;
    align-items: baseline;
    column-gap: var(--size-300);
  }
  .item__details {
    font-size: var(--font-size-500);
    font-weight: 500;
    text-wrap: balance;
  }
  .item__date {
    font-size: var(--font-size-300);
    text-align: right;
  }
}

.news__list {
  @include m.plain-list;
  .news__item {
    margin-block-end: var(--size-700);
  }
  .newsdate {
    font-size: var(--font-size-250);
  }
}

.home__recent {
  .news__item {
    margin-block-end: var(--size-600);
  }
}
