@use "../abstracts/colors" as c;
@use "../abstracts/mixins" as m;

.items__list {
  @include m.plain-list;
}

.list__key {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  border-bottom: 2px solid var(--fg);
  padding: 1rem 0 0.75rem;
  @media (min-height: 320px) {
    position: sticky;
    top: 0px;
  }
  background-color: var(--bg);
  z-index: 100;
}

.item__title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5;
}

.list-archive__item,
.list-books__item {
  margin-bottom: 2rem;
  & .item__date {
    font-size: smaller;
  }

  @media (min-width: 640px) {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
    justify-content: space-between;
  }
}

.list-books__item {
  margin-top: 2.5rem;
}
.list-description__item,
.list-mini__item {
  margin-top: 1.5rem;
  border-bottom: 2px solid var(--fg);
  @media (min-width: 640px) {
  margin-top: 2.5rem;
    border-radius: 0.5rem;
    border: 2px solid var(--fg);
  }

  .item__metadata {
    @media (min-width: 640px) {
      padding-block: 0.32rem;
      padding-inline: 0.75rem;
    }
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    justify-content: space-between;
    font-size: 0.9rem;
    @media (min-width: 640px) {
      border-bottom: 2px solid var(--fg);
    }
  }
  .item__content {
    padding-block-start: 0.5rem;
    padding-block-end: 1.5rem;
    @media (min-width: 640px) {
      padding-inline: 0.75rem;
      padding-block-start: 1rem;
      padding-block-end: 0.75rem;
    }
  }

  .item__summary {
    margin-top: 0.75rem;
  }
  .item__read-more {
    margin-top: 0.75rem;
    font-size: 1rem;
  }
}

.list-mini__item {
  .item__content {
    font-size: 1.25rem;

    @media (min-width: 640px) {
      margin-top: 0;
    }
    p {
      line-height: 1.6;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
    p:first-child {
      margin-top: 0;
    }
    figure {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
}
