.recent {
  --item-padding: 0.8rem;
  max-width: var(--header-width);
  margin-inline: auto;
  &__group {
    @media (min-width: 480px) {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      gap: 1rem;
      scroll-snap-type: y mandatory;
    }
    margin-block: 2rem;
  }
  &__section {
    width: 100%;
    margin-block: 2rem;
    @media (min-width: 480px) {
      scroll-snap-align: start;
      scroll-snap-stop: always;
      margin-block: 0;
      flex: 0 0 auto;
      width: 75%;
    }
    @media (min-width: 800px) {
      width: calc(50% - 6rem);
    }
    border: var(--border-medium) solid var(--fg);
    border-radius: var(--border-radius-medium);
    &__title {
      margin-block: 0;
      padding-inline: var(--item-padding);
      padding-block: 0.5rem;
      font-size: var(--font-size-500);
      font-weight: 600;
      border-bottom: var(--border-medium) solid var(--fg);
    }
    &__seeall {
      text-align: right;
      padding: var(--item-padding);
      font-size: var(--font-size-300);
    }
  }
  &__item {
    padding-inline: var(--item-padding);
    padding-block: 0.5rem;
    &__title {
      font-size: var(--font-size-400);
      line-height: 1.5;
      font-weight: 600;
    }
    &__summary {
      margin-top: 0.25rem;
      font-size: var(--font-size-300);
      line-height: 1.5;
    }
    &__date {
      margin-top: 0.75rem;
      font-size: var(--font-size-200);
    }
  }
}
