.recent {
  --item-padding: var(--size-300);
  margin-inline: auto;
  &__group {
    @media (min-width: 480px) {
      display: grid;
      gap: var(--size-600);
      grid-auto-flow: column;
      grid-auto-columns: 64%;

      overflow-inline: auto;
      overscroll-behavior-inline: contain;
      scroll-snap-type: inline mandatory;
    }
    @media (min-width: 960px) {
      grid-auto-columns: 40%;
    }
  }
  
  &__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-block: var(--size-500) var(--size-800);

    @media (min-width: 480px) {
      margin-block: 0 var(--size-400);
      scroll-snap-align: start;
      &:last-child {
        scroll-snap-align: end;
      }
    }
    border: var(--border-medium) solid var(--fg);
    border-radius: var(--border-radius-medium);
    &__title {
      margin-block: 0;
      padding-inline: var(--item-padding);
      padding-block-start: var(--item-padding);
      font-size: var(--font-size-700);
      font-weight: 600;
    }
    &__description {
      padding-inline: var(--item-padding);
      padding-block-end: var(--item-padding);
      margin-block-start: calc(var(--item-padding) / 2);
      border-block-end: var(--border-medium) solid var(--fg);
      font-size: var(--font-size-300);
    }
    &__seeall {
      text-align: right;
      margin-block-start: auto;
      padding: var(--item-padding);
      font-size: var(--font-size-300);
    }
  }
  
  &__item {
    padding-inline: var(--item-padding);
    padding-block: calc(var(--item-padding) / 2);
    &__title {
      font-size: var(--font-size-400);
      font-weight: 600;
    }
    &__summary {
      margin-block-start: calc(var(--item-padding) / 2);
      font-size: var(--font-size-300);
    }
    &__date {
      margin-block-start: var(--size-200);
      font-size: var(--font-size-200);
    }
  }
}
