.inline-svg {
  display: block;
  margin-inline: auto;
  max-width: 100%;
  @media (min-width: 640px) {
    max-width: 70%;
  }
  .fg-fill {
    fill: var(--fg);
  }
  .fg-stroke path {
    stroke: var(--fg);
  }
}
