:root {
  // tokyo night light
  --chroma-bg: #f4f0ed;
  --chroma-fg: #5e5245;
  --chroma-black: #e9e1db;
  --chroma-red: #d7898c;
  --chroma-green: #83b887;
  --chroma-yellow: #c29830;
  --chroma-blue: #485f84;
  --chroma-magenta: #be79bb;
  --chroma-cyan: #729893;
  --chroma-white: #a38d78;
  --chroma-brblack: #ded2c8;
  --chroma-brred: #c65333;
  --chroma-brgreen: #659e69;
  --chroma-bryellow: #c29830;
  --chroma-brblue: #485f84;
  --chroma-brmagenta: #854882;
  --chroma-brcyan: #436460;
  --chroma-brwhite: #867462;
}
.dark-mode {
  --chroma-fg: #ece1d7;
  --chroma-black: #352f2a;
  --chroma-red: #b65c60;
  --chroma-green: #78997a;
  --chroma-yellow: #ebc06d;
  --chroma-blue: #9aacce;
  --chroma-magenta: #b380b0;
  --chroma-cyan: #86a3a3;
  --chroma-white: #a38d78;
  --chroma-brblack: #4d453e;
  --chroma-brred: #f17c64;
  --chroma-brgreen: #99d59d;
  --chroma-bryellow: #ebc06d;
  --chroma-brblue: #9aacce;
  --chroma-brmagenta: #ce9bcb;
  --chroma-brcyan: #88b3b2;
  --chroma-brwhite: #c1a78e;
  --chroma-bg: hsl(30, 14%, 20%);
}

.highlight {
  border: var(--border-medium) solid var(--chroma-fg);
  border-radius: var(--border-radius-medium);
}
/* Background */
.bg {
  background-color: var(--chroma-bg);
  color: var(--chroma-fg);
}
/* PreWrapper */
.chroma {
  background-color: var(--chroma-bg);
  border-radius: var(--border-radius-medium);
  color: var(--chroma-fg);
  code {
    font-size: var(--font-size-250);
  }
  /* Other */
  .x {
    color: var(--chroma-blue);
  }
  /* Error */
  .err {
    color: var(--chroma-red);
  }
  /* CodeLine */
  .cl {
  }
  /* LineTableTD */
  .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
  }
  /* LineTable */
  .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
  /* LineHighlight */
  .hl {
    background-color: #ffffcc;
  }
  /* LineNumbersTable */
  .lnt {
    white-space: pre;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f;
  }
  /* LineNumbers */
  .ln {
    white-space: pre;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f;
  }
  /* Line */
  .line {
    display: flex;
  }
  /* Keyword */
  .k {
    color: var(--chroma-brred);
    font-weight: bold;
  }
  /* KeywordConstant */
  .kc {
    color: var(--chroma-brcyan);
    font-weight: bold;
  }
  /* KeywordDeclaration */
  .kd {
    color: var(--chroma-brcyan);
    font-weight: bold;
  }
  /* KeywordNamespace */
  .kn {
    color: var(--chroma-brcyan);
    font-weight: bold;
  }
  /* KeywordPseudo */
  .kp {
    color: var(--chroma-brcyan);
    font-weight: bold;
  }
  /* KeywordReserved */
  .kr {
    color: var(--chroma-brcyan);
    font-weight: bold;
  }
  /* KeywordType */
  .kt {
    color: var(--chroma-brcyan);
    font-weight: bold;
  }
  /* Name */
  .n {
    color: var(--chroma-variable);
  }
  /* NameAttribute */
  .na {
    color: #658b00;
  }
  /* NameBuiltin */
  .nb {
    color: var(--chroma-brcyan);
    font-weight: bold;
  }
  /* NameBuiltinPseudo */
  .bp {
    color: var(--chroma-blue);
    font-weight: bold;
  }
  /* NameClass */
  .nc {
    color: var(--chroma-brcyan);
    font-weight: bold;
  }
  /* NameConstant */
  .no {
    color: var(--chroma-brcyan);
  }
  /* NameDecorator */
  .nd {
    color: #707a7c;
  }
  /* NameEntity */
  .ni {
  }
  /* NameException */
  .ne {
    color: var(--chroma-blue);
    font-weight: bold;
  }
  /* NameFunction */
  .nf {
    color: var(--chroma-blue);
  }
  /* NameFunctionMagic */
  .fm {
  }
  /* NameLabel */
  .nl {
  }
  /* NameNamespace */
  .nn {
    color: #008b45;
    text-decoration: underline;
  }
  /* NameOther */
  .nx {
    color: var(--chroma-blue);
  }
  /* NameProperty */
  .py {
  }
  /* NameTag */
  .nt {
    color: var(--chroma-red);
    font-weight: bold;
  }
  /* NameVariable */
  .nv {
    color: #00688b;
  }
  /* NameVariableClass */
  .vc {
  }
  /* NameVariableGlobal */
  .vg {
  }
  /* NameVariableInstance */
  .vi {
  }
  /* NameVariableMagic */
  .vm {
  }
  /* Literal */
  .l {
  }
  /* LiteralDate */
  .ld {
  }
  /* LiteralString */
  .s {
    color: var(--chroma-brmagenta);
  }
  /* LiteralStringAffix */
  .sa {
    color: var(--chroma-brmagenta);
  }
  /* LiteralStringBacktick */
  .sb {
    color: var(--chroma-brmagenta);
  }
  /* LiteralStringChar */
  .sc {
    color: var(--chroma-brmagenta);
  }
  /* LiteralStringDelimiter */
  .dl {
    color: var(--chroma-brmagenta);
  }
  /* LiteralStringDoc */
  .sd {
    color: var(--chroma-brmagenta);
  }
  /* LiteralStringDouble */
  .s2 {
    color: var(--chroma-brmagenta);
  }
  /* LiteralStringEscape */
  .se {
    color: var(--chroma-brmagenta);
  }
  /* LiteralStringHeredoc */
  .sh {
    color: var(--chroma-brmagenta);
    font-style: italic;
  }
  /* LiteralStringInterpol */
  .si {
    color: var(--chroma-red);
  }
  /* LiteralStringOther */
  .sx {
    color: #cb6c20;
  }
  /* LiteralStringRegex */
  .sr {
    color: #1c7e71;
  }
  /* LiteralStringSingle */
  .s1 {
    color: var(--chroma-string);
  }
  /* LiteralStringSymbol */
  .ss {
    color: var(--chroma-string);
  }
  /* LiteralNumber */
  .m {
    color: var(--chroma-brmagenta);
  }
  /* LiteralNumberBin */
  .mb {
    color: var(--chroma-brmagenta);
  }
  /* LiteralNumberFloat */
  .mf {
    color: var(--chroma-brmagenta);
  }
  /* LiteralNumberHex */
  .mh {
    color: var(--chroma-brmagenta);
  }
  /* LiteralNumberInteger */
  .mi {
    color: var(--chroma-brmagenta);
  }
  /* LiteralNumberIntegerLong */
  .il {
    color: var(--chroma-brmagenta);
  }
  /* LiteralNumberOct */
  .mo {
    color: var(--chroma-brmagenta);
  }
  /* Operator */
  .o {
    color: var(--chroma-brred);
  }
  /* OperatorWord */
  .ow {
    color: var(--chroma-keyword);
  }
  /* Punctuation */
  .p {
    color: var(--chroma-yellow);
  }
  /* Comment */
  .c {
    color: var(--chroma-white);
  }
  /* CommentHashbang */
  .ch {
    color: var(--chroma-white);
  }
  /* CommentMultiline */
  .cm {
    color: var(--chroma-white);
  }
  /* CommentSingle */
  .c1 {
    color: var(--chroma-white);
  }
  /* CommentSpecial */
  .cs {
    color: var(--chroma-keyword);
    font-weight: bold;
  }
  /* CommentPreproc */
  .cp {
    color: var(--chroma-yellow);
  }
  /* CommentPreprocFile */
  .cpf {
    color: #1e889b;
  }
  /* Generic */
  .g {
  }
  /* GenericDeleted */
  .gd {
    color: #aa0000;
  }
  /* GenericEmph */
  .ge {
    font-style: italic;
  }
  /* GenericError */
  .gr {
    color: #aa0000;
  }
  /* GenericHeading */
  .gh {
    color: #000080;
    font-weight: bold;
  }
  /* GenericInserted */
  .gi {
    color: #00aa00;
  }
  /* GenericOutput */
  .go {
    color: #888888;
  }
  /* GenericPrompt */
  .gp {
    color: #555555;
  }
  /* GenericStrong */
  .gs {
    font-weight: bold;
  }
  /* GenericSubheading */
  .gu {
    color: #800080;
    font-weight: bold;
  }
  /* GenericTraceback */
  .gt {
    color: #aa0000;
  }
  /* GenericUnderline */
  .gl {
    text-decoration: underline;
  }
  /* TextWhitespace */
  .w {
    color: #bbbbbb;
  }
}
