table {
  border-collapse: separate;
  border: var(--border-medium) solid var(--fg);
  margin-inline: auto;
  border-radius: var(--border-radius-large);
}

td, th {
  padding: var(--size-200);
  line-height: 1;
}

td {
  border-inline-start: var(--border-thin) solid var(--fg);
  border-block-start: var(--border-thin) solid var(--fg);
}

tr:last-of-type > td {
  border-block-start: var(--border-medium) solid var(--fg);
}

th {
  border-inline-start: var(--border-thin) solid var(--fg);
  border-block-end: var(--border-thin) solid var(--fg);
}

td:first-child,
th:first-child {
  border-inline-start: none;
}

thead {
  font-weight: 700;
}
