table {
  border-collapse: separate;
  border: var(--border-thin) solid var(--fg);
  margin-inline: auto;
  border-radius: var(--border-radius-large);
}

td,
th {
  border-inline-start: var(--border-thin) solid var(--fg);
  border-block-start: var(--border-thin) solid var(--fg);
  padding: var(--size-200);
  line-height: 1;
}

th {
  border-block-start: none;
}

td:first-child,
th:first-child {
  border-inline-start: none;
}

thead {
  font-weight: 700;
}
