@use '../globals/mixins' as m;

.tagcloud {
  @include m.plain-list;

  line-height: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  column-gap: 1rem;
  &__heading {
    font-size: var(--font-size-700);
    margin-block-start: var(--size-800);
    margin-block-end: var(--size-200);
  }
}
