@use "../abstracts/mixins" as m;

.tagcloud {
  @include m.plain-list;

  & a {
    @include m.plain-link;
  }

  display: flex;
  margin-top: 3rem;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 1rem;
}
