@use "../abstracts/mixins" as m;

.tagcloud {
  @include m.plain-list;

  & a {
    @include m.plain-link;
  }

  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  column-gap: 1rem;
}
