@use "../abstracts/mixins" as m;

.toc {
  border: 2px solid var(--fg);
  border-radius: 0.75rem;

  max-width: max-content;
  margin-top: 2rem;
  margin-bottom: 2rem;

  padding: 1rem 1rem;
  &__heading {
    margin-top: 0;
  }
  & a {
    @include m.plain-link;
  }
}