.toc {
  --flow-space: var(--size-700);
  font-family: var(--font-sans-serif);
  max-width: max-content;
  padding-inline: var(--size-300);
  padding-block-start: var(--size-300);
  padding-block-end: var(--size-200);

  &__heading {
    font-family: var(--font-sans-serif);
    font-size: 1.5rem;
    font-size: var(--font-size-600);
    font-variation-settings: 'wght' 600;
  }
  & li {
      margin-block: var(--size-100);
      margin-inline-start: 0;
  }
  & ul, ol {
      @media (min-width: 640px) {
	  padding-inline-start: var(--size-400);
      }
  }
  &.toc-floating {
      // background-color: blue;
      display: none;
      @media (min-width: 800px) {
	  // background-color: red;
	  display: unset;
	  float: inline-end;
	  margin-inline-start: var(--size-400);
	  margin-block-end: var(--size-300);
	  max-width: 42%;
      }
  }

  &.toc-block {
      // background-color: red;
      @media (min-width: 800px) {
	  // background-color: red;
	  display: none;
      }
  }
}
