.toc {
  --flow-space: var(--size-700);
  font-family: var(--font-sans-serif);
  max-width: max-content;
  padding-inline: var(--size-300);
  padding-block-start: var(--size-300);
  padding-block-end: var(--size-200);

  &__heading {
    font-family: var(--font-sans-serif);
    font-size: 1.5rem;
    font-size: var(--font-size-600);
    font-variation-settings: 'wght' 500;
  }
  & li {
    margin-block: 0.25rem;
  }
}
