$papaya: hsl(37.1, 100%, 91.8%);
$black: #121212;

:root {
  --bg: #{$papaya};
  --fg: #{$black};
}

.dark-mode {
  --bg: #{$black};
  --fg: #{$papaya};
}
// @media (prefers-color-scheme: dark) {
//   :root {
//     --bg: #{$black};
//     --fg: #{$papaya};
//   }
// }
