@forward 'borders';

.float-right {
  float: right;
}

// links
a.plain-link,
.plain-link a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.flow > * + * {
  margin-top: var(--flow-space, 1.6em);
}

.wrapper {
  max-width: 69ch; // nice :)
  margin-inline: auto;
  padding-inline: 0.75rem;
  padding-block: 1.25rem;
  @media print {
    max-width: inherit;
  }
}
