<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />

{{- with $.Params.images -}}
    {{- range first 6 . }}
        <meta property="og:image" content="{{ . | absURL }}" />
        <meta property="twitter:image" content="{{ . | absURL }}" />
    {{ end -}}
{{- else -}}
    {{- $images := $.Resources.ByType "image" -}}
    {{- $featured := $images.GetMatch "*feature*" -}}
    {{- if not $featured }}
        {{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}
    {{ end -}}
    {{- with $featured -}}
        {{ $compressed := .Fill "1200x630 center"}}
        <meta property="og:image" content="{{ $compressed.Permalink }}"/>
        <meta property="twitter:image" content="{{ $compressed.Permalink }}"/>
    {{- else -}}
        {{- with $.Site.Params.images }}
            <meta property="og:image" content="{{ index . 0 | absURL }}"/>
            <meta property="twitter:image" content="{{ index . 0 | absURL }}"/>
        {{ else }}
            {{ $title := " " }}
            {{ if .IsHome }}
                {{ $title = "Pranshu Gaba"}}
            {{ else }}
                {{ $title = .Title }}
            {{ end }}
            {{ $subtitle := " " }}
            {{ with .Params.Subtitle }}
                {{ $subtitle = . }}
            {{ end }}
            {{ $url := "pranshugaba.com" }}


            {{ $titleFont := "" }}
            {{ $titleFontPath := "/social/InterDisplay-SemiBold_freeze.ttf" }}
            {{ with resources.Get $titleFontPath }}
                {{ $titleFont = .}}
            {{ end }}
            {{ $subtitleFont := "" }}
            {{ $subtitleFontPath := "/social/InterDisplay-Regular_freeze.ttf" }}
            {{ with resources.Get $subtitleFontPath }}
                {{ $subtitleFont = .}}
            {{ end }}
            
            {{ $urlFont := "" }}
            {{ $urlFontPath := "/social/InterDisplay-Regular_freeze.ttf" }}
            {{ with resources.Get $urlFontPath }}
                {{ $urlFont = .}}
            {{ end }}

            {{ $imagePath := "/social/social.png" }}
            {{ $r := resources.Get $imagePath }}

            {{ $titleFilter := "" }}
            {{ $opts := dict
              "font" $titleFont
              "size" 80
              "color" "#f7f0ff"
              "x" 60
              "y" 420
              "linespacing" 12
              "alignx" "left"
              "aligny" "bottom"
            }}
            {{ $titleFilter = images.Text $title $opts }}

            {{ $subtitleFilter := "" }}
            {{ $opts := dict
              "font" $subtitleFont
              "size" 48
              "color" "#f7f0ff"
              "x" 60
              "y" 460
              "linespacing" 10
            }}
            {{ $subtitleFilter = images.Text $subtitle $opts }}

            {{ $urlFilter := "" }}
            {{ $opts := dict
              "font" $urlFont
              "size" 40
              "color" "#f7f0ff"
              "x" 1140
              "y"  60
              "linespacing" 10
              "alignx" "right"
            }}
            {{ $urlFilter = images.Text $url $opts }}

            {{ with $r }}
                {{ with . | images.Filter $titleFilter | images.Filter $subtitleFilter | images.Filter $urlFilter }}
                    <meta property="og:image" content="{{ .Permalink }}"/>
                    <meta property="twitter:image" content="{{ .Permalink }}"/>
                {{ end }}
            {{ end }}
        {{ end -}}
    {{- end -}}
{{- end -}}

{{- if .IsPage }}
{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
<meta property="article:section" content="{{ .Section }}" />
{{ with .PublishDate }}<meta property="article:published_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />{{ end }}
{{ with .Lastmod }}<meta property="article:modified_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />{{ end }}
{{- end -}}

{{- with .Params.audio }}<meta property="og:audio" content="{{ . }}" />{{ end }}
{{- with .Params.locale }}<meta property="og:locale" content="{{ . }}" />{{ end }}
{{- with .Site.Params.title }}<meta property="og:site_name" content="{{ . }}" />{{ end }}
{{- with .Params.videos }}{{- range . }}
<meta property="og:video" content="{{ . | absURL }}" />
{{ end }}{{ end }}

{{- /* If it is part of a series, link to related articles */}}
{{- $permalink := .Permalink }}
{{- $siteSeries := .Site.Taxonomies.series }}
{{ with .Params.series }}{{- range $name := . }}
  {{- $series := index $siteSeries ($name | urlize) }}
  {{- range $page := first 6 $series.Pages }}
    {{- if ne $page.Permalink $permalink }}<meta property="og:see_also" content="{{ $page.Permalink }}" />{{ end }}
  {{- end }}
{{ end }}{{ end }}

{{- /* Twitter card data */}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@pranshugaba">
<meta name="twitter:title" content="{{ .Title }}">
{{ with .Summary }}
    <meta name="twitter:description" content="{{ . }}">
{{ end }}
