{{ if .IsHome }} 
    Home | 
{{ else }} 
    {{ if (eq .Section "minis")}}
        {{ if .Page.IsSection }}
            {{ .Page.Section | title }} |
        {{ else }}
            Mini #{{ .File.ContentBaseName }}: {{ .Page.Plain | truncate 35 "..." }} |
        {{ end }}
    {{ else }}
        {{ if .Page.Title }} 
            {{ if .IsPage }}
                {{- partial "single/post-prefix" . -}}
                {{- partial "single/post-id" . -}}
                {{- partial "single/post-id-title-separator" . -}}
            {{ end }}
        {{ end }}
        {{ .Page.Title }} | 
    {{ end }}
{{ end }}
{{ .Site.Title }}
