// TODO: add margins on footnote-ref
// TODO: Style buttons when you add a button
html {
  font-size: 115%;
  @media (min-width: 640px) {
    font-size: 125%;
  }
  @media print {
    font-size: 80%;
  }
  font-family: var(--font-sans-serif);
  font-weight: 400;
  scroll-padding-top: 1.5rem;
  text-underline-offset: 0.14em;
}

body {
  background-color: var(--bg);
  color: var(--fg);
}

::selection {
  background-color: var(--accent);
  color: var(--bg);
}

// Typography.scss
body {
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  margin-top: 2em;
  margin-bottom: 0.5em;
}
h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  // background-color: red;
  --flow-space: 0;
}

h1 {
  font-family: var(--font-serif);
  font-size: 2.5rem;
  font-weight: 500;
  font-variation-settings: 'wght' 500;
  text-wrap: balance;
}

h2 {
  font-family: var(--font-serif);
  font-size: 1.75rem;
  font-weight: 500;
  font-variation-settings: 'wght' 500;
  text-wrap: balance;
}

h3 {
  font-family: var(--font-sans-serif);
  letter-spacing: -0.02em;
  font-size: 1.5rem;
  font-weight: 500;
  text-wrap: balance;
}

h4 {
  font-family: var(--font-sans-serif);
  font-size: 1.2rem;
  font-weight: 500;
  text-wrap: balance;
}

h5 {
  font-family: var(--font-sans-serif);
  font-size: 1.125rem;
  font-weight: 600;
  text-wrap: balance;
}

h6 {
  font-family: var(--font-sans-serif);
  font-size: 1rem;
  font-weight: 600;
  text-wrap: balance;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

hr {
  --flow-space: 2rem;
  color: var(--fg);
  border: var(--border-hairline) solid var(--fg);
}

sup {
  font-size: var(--font-size-200);
  vertical-align: super;
}

sub {
  font-size: var(--font-size-200);
  vertical-align: sub;
}

pre {
  font-family: var(--font-mono);
}

q {
  quotes: '“' '”' '‘' '’';
}
q::before {
  content: open-quote;
}
q::after {
  content: close-quote;
}

// Links.scss
a {
  &,
  &:visited {
    color: var(--fg);
    outline: none;
    transition: outline 0.1s ease-out;
  }
  text-decoration: underline;

  &:hover {
    text-decoration: none;
    color: var(--accent);
  }
  &:focus {
    outline: 0.15em solid var(--accent);
    outline-offset: 0.125em;
    border-radius: 0.1em;
    text-decoration: none;
  }
}

a[href*="//"]:not([href*="pranshugaba.com"]):not([href*="localhost"])
{
  // color: gray;
  text-decoration-style: dotted;
  &:hover {
    text-decoration: underline;
  }
}

button {
  all: unset;
  padding: 0.1rem;
  outline: none;
  transition: outline 0.1s ease-out;
  border-radius: 0.15rem;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: var(--accent);
  }
  &:focus {
    outline: 0.15em solid var(--accent);
    outline-offset: 0.2em;
  }
}

.dark-mode-toggle {
  @media print {
    display: none;
  }
}
