// Define light mode colors
$lightlight: white;
$lightdark: black;
$lightaccent: hsl(280, 80%, 42%);

// Define dark mode colors
$darklight: white;
$darkdark: hsl(0, 0%, 12%);
$darkaccent: hsl(280, 80%, 69%);

// $huelight: 280;
// $huelightaccent: 60;

// $lightlight: oklch(100% 10% $huelight);
// $lightdark: oklch(20% 50% $huelight);
// $lightaccent: oklch(50% 100% $huelightaccent);

// $huedark: 280;
// $huedarkaccent: 60;

// $darklight: oklch(100% 30% $huedark);
// $darkdark: oklch(10% 25% $huedark);
// $darkaccent: oklch(79% 60% $huedarkaccent);

// Define print mode colors
$printlight: white;
$printdark: #121212;
$printaccent: indigo;

:root {
  // Set colors (light mode)
  --bg: #{$lightlight};
  --fg: #{$lightdark};
  --accent: #{$lightaccent};
  --light: #{$lightlight};
  --dark: #{$darkdark};

  // Set colors (dark mode)
  @media print {
    --bg: #{$printlight};
    --fg: #{$printdark};
    --accent: #{$printaccent};
    --light: #{$printlight};
    --dark: #{$printdark};
  }
}

.dark-mode {
  --bg: #{$darkdark};
  --fg: #{$darklight};
  --accent: #{$darkaccent};
  --light: #{$darklight};
  --dark: #{$darkdark};
  
  @media print {
    --bg: #{$printlight};
    --fg: #{$printdark};
    --accent: #{$printaccent};
    --light: #{$printlight};
    --dark: #{$printdark};
  }
}
