// Define light mode colors
$lightlight: white;
$lightdark: black;
$lightaccent: hsl(210, 100%, 42%);

// Define dark mode colors
$darklight: white;
$darkdark: hsl(0, 0%, 12%);
$darkaccent: hsl(210, 100%, 69%);

// $huelight: 50;
// $huelightaccent: 280;

// $lightlight: hsl($huelight, 89%, 91%);
// $lightdark: hsl($huelight, 100%, 7%);
// $lightaccent: hsl($huelightaccent, 100%, 38%);

// $huedark: 280;
// $huedarkaccent: 50;

// $darklight: hsl($huedark, 100%, 95%);
// $darkdark: hsl($huedark, 89%, 9%);
// $darkaccent: hsl($huedarkaccent, 100%, 69%);

// Define print mode colors
$printlight: white;
$printdark: #121212;
$printaccent: indigo;

:root {
  // Set colors (light mode)
  --bg: #{$lightlight};
  --fg: #{$lightdark};
  --accent: #{$lightaccent};
  --light: #{$lightlight};
  --dark: #{$darkdark};

  // Set colors (dark mode)
  @media print {
    --bg: #{$printlight};
    --fg: #{$printdark};
    --accent: #{$printaccent};
    --light: #{$printlight};
    --dark: #{$printdark};
  }
}

.dark-mode {
  --bg: #{$darkdark};
  --fg: #{$darklight};
  --accent: #{$darkaccent};
  --light: #{$darklight};
  --dark: #{$darkdark};
  
  @media print {
    --bg: #{$printlight};
    --fg: #{$printdark};
    --accent: #{$printaccent};
    --light: #{$printlight};
    --dark: #{$printdark};
  }
}
