a {
  &,
  &:visited {
    color: var(--fg);
    outline: none;
    transition: outline 0.1s ease-out;
  }
  text-decoration: underline;

  &:hover {
    // text-decoration: none;
    color: var(--accent);
  }
  &:focus {
    outline: 0.15em solid var(--accent);
    outline-offset: 0.125em;
    border-radius: 0.1em;
    text-decoration: none;
  }
}

button {
  all: unset;
  padding: 0.1rem;
  outline: none;
  transition: outline 0.1s ease-out;
  &:hover {
    text-decoration: underline;
    color: var(--accent);
  }
  &:focus {
    outline: 0.15em solid var(--accent);
    outline-offset: 0.2em;
  }
}