<script>
  let darkMode = localStorage.getItem('darkMode');
  const darkModeToggle = document.querySelector('#dark-mode-toggle');

  const enableDarkMode = () => {
    // add the class dark-mode to the body
    document.body.classList.add('dark-mode');
    // update darkMode in localStorage
    localStorage.setItem('darkMode', 'enabled');
  };

  const disableDarkMode = () => {
    // add the class dark-mode to the body
    document.body.classList.remove('dark-mode');
    // update darkMode in localStorage
    localStorage.setItem('darkMode', 'disabled');
  };

  if (darkMode === 'enabled') {
    enableDarkMode();
  }
  darkModeToggle.addEventListener('click', () => {
    darkMode = localStorage.getItem('darkMode');
    if (darkMode !== 'enabled') {
      enableDarkMode();
    } else {
      disableDarkMode();
    }
  });
</script>
