<link rel="stylesheet" href="/css/leaflet/leaflet.css" />
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script
  src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""
></script>

<!-- fullscreen button -->
<script src="/js/leaflet/fullscreen.js"></script>
<link href="/css/leaflet/fullscreen.css" rel="stylesheet" />

<!-- gpx plugin -->
<script src="/js/leaflet/gpx.js"></script>

<!-- markercluster -->
<script
  src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"
  crossorigin=""
></script>
<link href="/css/leaflet/markercluster.css" rel="stylesheet" />

<!-- photos -->
<script src="/js/leaflet/photo.js"></script>

<link href="/css/leaflet/photo.css" rel="stylesheet" />
