body {
  background-color: var(--bg);
  color: var(--fg);
  max-width: 65ch;
  margin: 0 auto;
  padding: 0.8rem;
}

#content {
  animation: fadeInAnimation ease-in 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

::selection {
  background-color: var(--fg);
  color: var(--bg);
}
