figure {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  img {
    text-align: center;
    max-height: 640px;
    max-width: 100%;
    height: auto;
    width: auto;
    margin: 0 auto;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--fg);
    .dark-mode & {
      filter: brightness(0.9) contrast(1.1);
    }
  }

  &.no-border {
    img {
      border: none;
      border-radius: 0;
    }
  }

  &.small {
    img {
      max-height: 240px;
    }
    figcaption {
      max-width: 30ch;
    }
  }
  &.medium {
    img {
      max-height: 480px;
    }
    figcaption {
      max-width: 45ch;
    }
  }

  &.rectangle img {
    border-radius: 0;
  }

  .dark-mode &.diagram img {
    filter: hue-rotate(180deg) invert(1);
  }

  .light-image {
    display: inline-block;
  }

  .dark-mode & .light-image {
    display: none;
  }

  .dark-image {
    display: none;
  }

  .dark-mode & .dark-image {
    display: inline-block;
  }

  figcaption {
    font-weight: 400;
    font-size: 0.75rem;
    margin: 0.5rem auto;
    line-height: 1.5;
  }
}

.float-right {
  float: right;
}
