html {
  font-size: 112.5%;
  @media (min-width: 640px) {
    font-size: 125%;
  }
  font-family: 'Inter', sans-serif;
  text-underline-offset: 0.15em;
  scroll-padding-top: 1.5rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.05em;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.25rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  margin-top: 4.5rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

ul,
ol {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

li {
  margin-bottom: 0.5rem;
}

p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
p:first-child {
  margin-top: 1rem;
}
p:last-child {
  margin-bottom: 1rem;
}

a {
  &,
  &:visited {
    color: inherit;
    outline: none;
    transition: outline 0.1s ease-out;
  }
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
  &:focus{
    outline: 0.15em solid var(--fg);
    outline-offset: 0.125em;
    border-radius: 0.1em;
    text-decoration: none;
  }
}

button {
  all: unset;
  padding: 0.1rem;
  outline: none;
  transition: outline 0.1s ease-out;
  &:hover{
    text-decoration: underline;
  }
  &:focus{
    outline: 0.15em solid var(--fg);
    outline-offset: 0.2em;
  }
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

sup {
  font-size: small;
  vertical-align: super;
  margin-left: 0.1rem;
  margin-right: 0.05rem;
}

sub {
  font-size: small;
  vertical-align: sub;
  margin-left: 0.1rem;
  margin-right: 0.05rem;
}

.footnotes {
  font-size: smaller;
  & .footnote-backref {
    font-size: smaller;
  }
}

code {
  font-family: 'JBMono', monospace;
  font-size: 0.9rem;
}

figcaption {
  font-size: 0.8rem;
  max-width: 60ch;
  text-align: center;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--fg);
  border: 1px solid var(--fg);
}

blockquote {
  font-size: 1.125rem;
  border-left: 4px solid var(--fg);
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 2ch;
  padding-left: 2ch;
}

pre {
  font-family: monospace;
}