$papaya: hsl(37.1, 100%, 91.8%);
$black: #121212;


// $gruvboxlight: #fbf1c7;
// $gruvboxdark: #282828;


// $light: white;
// $dark: black;

// $solarizedbase3: #fdf6e3;
// $solarizedbase03: #002b36;
// $light: $solarizedbase3;
// $dark: $solarizedbase03;

$hue: 210;
$lightlight: hsl($hue, 100%, 96%);
$lightdark: hsl($hue, 100%, 12%);

$darklight: hsl($hue, 100%, 94%);
$darkdark: hsl($hue, 100%, 7%);

:root {
  --bg: #{$lightlight};
  --fg: #{$lightdark};
  --light: #{$lightlight};
  --dark: #{$lightdark};
}

.dark-mode {
  --bg: #{$darkdark};
  --fg: #{$darklight};
}
// @media (prefers-color-scheme: dark) {
//   :root {
//     --bg: #{$black};
//     --fg: #{$papaya};
//   }
// }
