// Colors
// $my-color-scheme: (
//   light: (
//     "fg": white,
//     "bg": black,
//     "accent": hsl(210, 100%, 42%),
//   ),
//   dark: (
//     "fg": white,
//     "bg": hsl(0, 0%, 11%),
//     "accent": hsl(210, 100%, 69%),
//   ),
// );

$lightlight: white;
$lightdark: black;
$lightaccent: hsl(210, 100%, 42%);

$darklight: white;
$darkdark: hsl(0, 0%, 12%);
$darkaccent: hsl(210, 100%, 69%);

:root {
  // Colors
  // @each $name, $color in $my-color-scheme {
  //   --#{$name}: $color;
  // }
  --bg: #{$lightlight};
  --fg: #{$lightdark};
  --accent: #{$lightaccent};
  --light: #{$lightlight};
  --dark: #{$darkdark};

  @media print {
    --bg: #{white};
    --fg: #{#121212};
    --light: #{white};
    --dark: #{#121212};
    --accent: #{Indigo};
  }

  // Fonts
  --font-sans-serif: Inter, sans-serif;
  --font-serif: Bitter, ui-serif, serif;
  --font-mono: 'JBMono', monospace;

  --font-size-100: 0.625rem;
  --font-size-200: 0.75rem;
  --font-size-300: 0.875rem;
  --font-size-400: 1rem;
  --font-size-500: 1.125rem;
  --font-size-600: 1.25rem;
  --font-size-700: 1.5rem;
  --font-size-800: 2rem;

  // margin / padding sizes
  --size-100: 0.1rem;
  --size-200: 0.2rem;
  --size-300: 0.5rem;
  --size-400: 1rem;
  --size-500: 1.25rem;
  --size-600: 1.5rem;
  --size-700: 2rem;
  --size-800: 3rem;
  --size-900: 4rem;

  // border widths
  --border-hairline: 1px;
  --border-thin: 0.075rem;
  --border-medium: 0.1rem;
  --border-thick: 0.125rem;

  // border radii
  --border-radius-tiny: 0.25rem;
  --border-radius-small: 0.375rem;
  --border-radius-medium: 0.5rem;
  --border-radius-large: 0.75rem;
  --border-radius-xl: 1rem;
  --border-radius-circle: 100%;
}

.dark-mode {
  --bg: #{$darkdark};
  --fg: #{$darklight};
  --accent: #{$darkaccent};
  @media print {
    --bg: #{white};
    --fg: #{#121212};
    --light: #{white};
    --dark: #{#121212};
    --accent: #{Indigo};
  }
}

button {
  all: unset;
  padding: 0.1rem;
  outline: none;
  transition: outline 0.1s ease-out;
  &:hover {
    text-decoration: underline;
    color: var(--accent);
  }
  &:focus {
    outline: 0.15em solid var(--accent);
    outline-offset: 0.2em;
  }
}

.site__footer #dark-mode-toggle {
  cursor: pointer;
  border-radius: 0.15rem;
  @media print {
    display: none;
  }
}
