@mixin plain-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@mixin plain-list {
  list-style: none;
  padding-left: 0;
}

@mixin font-family-sans-serif {
  font-family: 'IBM Plex Sans', 'Roboto', sans-serif;
}

@mixin font-family-serif {
  font-family: Fraunces, 'Roboto Slab', 'Source Serif Pro', serif;
}

@mixin font-family-mono {
  font-family: 'JBMono', 'Roboto Mono', monospace;
}
