{{ $lightOpacity := 0.7 }}
{{ $darkOpacity := 0.1 }}
<g class="squares">
    <rect width="49" height="49" x="0" y="343" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}" clip-path="url(#round-chessboard)"></rect>
    <rect width="49" height="49" x="0" y="294" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="0" y="245" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="0" y="196" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="0" y="147" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="0" y="98" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="0" y="49" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="0" y="0" fill="var(--light)" fill-opacity="{{ $lightOpacity }}" clip-path="url(#round-chessboard)"></rect>
    <rect width="49" height="49" x="49" y="343" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="49" y="294" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="49" y="245" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="49" y="196" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="49" y="147" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="49" y="98" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="49" y="49" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="49" y="0" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="98" y="343" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="98" y="294" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="98" y="245" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="98" y="196" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="98" y="147" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="98" y="98" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="98" y="49" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="98" y="0" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="147" y="343" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="147" y="294" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="147" y="245" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="147" y="196" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="147" y="147" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="147" y="98" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="147" y="49" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="147" y="0" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="196" y="343" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="196" y="294" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="196" y="245" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="196" y="196" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="196" y="147" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="196" y="98" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="196" y="49" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="196" y="0" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="245" y="343" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="245" y="294" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="245" y="245" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="245" y="196" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="245" y="147" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="245" y="98" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="245" y="49" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="245" y="0" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="294" y="343" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="294" y="294" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="294" y="245" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="294" y="196" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="294" y="147" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="294" y="98" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="294" y="49" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="294" y="0" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="343" y="343" fill="var(--light)" fill-opacity="{{ $lightOpacity }}" clip-path="url(#round-chessboard)"></rect>
    <rect width="49" height="49" x="343" y="294" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="343" y="245" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="343" y="196" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="343" y="147" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="343" y="98" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}"></rect>
    <rect width="49" height="49" x="343" y="49" fill="var(--light)" fill-opacity="{{ $lightOpacity }}"></rect>
    <rect width="49" height="49" x="343" y="0" fill="var(--dark)" fill-opacity="{{ $darkOpacity }}" clip-path="url(#round-chessboard)"></rect>
</g>